[2018-06-20 18:29] drmulligan opened #412 "Agent version number is not shown on Collector pages"
Glowroot shows the installed version at the bottom of each page.  It would be helpful to see the agent Glowroot version too if an agent is selected or otherwise contextually relevant.

[2018-06-20 20:01] lfen21 commented on #384
it's working fine. Thank you very much !!!!

[2018-06-21 00:18] trask commented on #384
👍

[2018-06-21 17:48] drmulligan commented on #213
What about allowing the administrator to copy gauges to other agents.  One way to facilitate this in the UI would be a checkbox beside each custom gauge, a drop down with "All" and each possible target agent, and a copy button.  This would allow the administrator to configure one agent and propagate the configuration to the rest of the agents.
Using the same checkboxes a "Save as default" button c

[2018-06-25 08:13] anup1384 commented on #132
Hi,

I am running glowroot java agent in container, So how do I change localhost address with 0.0.0.0. ?

[2018-06-25 18:24] decebals commented on #166
@nidorx
The modifications look great but I think that you must split these modifications in small PRs and submit them one by one. Divide en impera.

[2018-06-25 18:41] trask commented on #166
I believe this particular code change is outdated, but keeping the issue open for now because @nidorx included some nice screenshots that could serve as inspiration for future UX work.

[2018-06-26 12:39] webjoel opened #413 "Annotation @TransactionAttribute not works with glowroot agent"
When the glowroot agent is enabled in jboss / wildfly 9 via:

`
JAVA_OPTS = "$ JAVA_OPTS -javaagent: /opt/jboss/glowroot/glowroot.jar"
`

the annotation:

`
@TransactionAttribute (TransactionAttributeType.REQUIRES_NEW)
`

is not considered, that is, a new transaction is not being created.

[2018-06-26 20:40] anveshgkumar opened #414 "Alerts at roll up level"
Hi,
When we configure alerts at rollup level, how alerting functionality works. For example, if i configure Heartbeat alert at rollup level, and the rollup has 5 agents active and reporting to collector. Will it send alert even if one of the agent heartbeat not received for a give time period.

[2018-06-27 15:45] gdelafosse opened #415 "GraphQL support"
Hello
first, Glowroot is GREAT!!! thanks for this tool.
I plugged it into my GraphQL application and unfortunately I can't focus on specific queries as the tool only catch the POST action on the graphql entrypoint.
Would you mind adding the GraphQL queries support?
Thanks

[2018-06-28 02:02] jibsonline commented on #102
Has this been merged to release? I can't find the CPU time in thread dump report

[2018-06-28 02:58] trask commented on #102
Hi @jibsonline, what does Glowroot report under JVM > Environment > Java (both Version and VM)?

Also, can you go to /jvm/capabilities (e.g. manually go to that url instead of /jvm/environment) and see what Glowroot reports for "Thread CPU time"?

Thanks,
Trask

[2018-06-28 03:41] jibsonline commented on #102
@trask

Capabilities
Thread CPU time ON
Thread contention time ON
Thread allocated bytes ON

[2018-06-28 03:54] trask commented on #102
That looks good.

Are you seeing something like the screenshot above, but just without CPU time line? Can you post a screenshot?

Thanks,
Trask

[2018-06-28 07:30] jibsonline commented on #102
![image](https://user-images.githubusercontent.com/1730931/42019645-43ff8bb2-7ad3-11e8-8725-2effd4fae757.png)

[2018-06-28 07:33] jibsonline commented on #102
@trask I am only getting "Unmatched threads". There are no matched threads in my thread. I am using Spring Boot 1.5.10. Is there not support for it?

[2018-07-02 17:21] fhperuchi opened #416 "Spring @Scheduled jobs does not appear in Transactions menu"
Is it possible to see the background transactions (i.e: https://demo.glowroot.org/transaction/average?transaction-type=Background) using Spring 4.1.6.RELEASE **org.springframework.scheduling.annotation.Scheduled** annotation? I have several scheduled jobs in my Spring application and I can't see the "Background" option in the combo at "Transactions" menu. See image below.

![image](https://user-im

[2018-07-02 22:48] trask commented on #416
Hi @fhperuchi, thanks for posting! Try importing this instrumentation (similar to https://github.com/glowroot/glowroot/blob/v0.10.12/agent/plugins/ejb-plugin/src/main/resources/META-INF/glowroot.plugin.json#L5):

[code]

Let me know how this works, I can add to the core Spring plugin (https://github.com/glowroot/glowroot/blob/v0.10.12/agent/plugins/spring-plugin/src/main/resources/META-INF/glowroo

[2018-07-03 00:35] fhperuchi commented on #416
@trask thank you! But I'm not sure how to I import this instrrumentation. Where do I have to put this JSON content? Can you help me again, please?

[2018-07-03 00:36] trask commented on #416
Hi @fhperuchi, sorry, go to Glowroot UI > Configuration > Instrumentation and you should see an Import button. You'll need to "Apply changes without restart", or you'll need to restart your JVM for the new instrumentation to get applied.

[2018-07-03 00:39] fhperuchi commented on #416
@trask I got this error: **Missing className, Missing methodName**

![image](https://user-images.githubusercontent.com/4641123/42192617-50675658-7e40-11e8-9892-86f6db2661a6.png)

[2018-07-03 00:43] trask commented on #416
Ah, that's a little bug I need to fix, for now try:

[code]

(you will see it get added into your config.json file under the glowroot directory)

[2018-07-03 01:06] fhperuchi commented on #416
Thanks again @trask!

Now the JSON snippet was imported with success. I clicked the "Apply changes without restart" button and it worked very well.

![image](https://user-images.githubusercontent.com/4641123/42193110-2f56a150-7e43-11e8-9675-648336c83a1c.png)

[2018-07-03 01:07] #416 closed

[2018-07-03 01:08] trask commented on #416
👍

[2018-07-03 17:17] pavanimanthana commented on #213
Hi - I have implemented a replicate button/strategy that lets you copy the settings to all agents under a rollup. Also a feature for any new agent joining a rollup to inherit the last updated agent under a rollup. This helps quite a bit in micro services world where the life time of an agent is very dynamic.

Hi Trask - I can do a PR if this is a feature you are looking for in glowroot.

[2018-07-04 04:43] vgmonnet commented on #371
@track, How are you? Did you check on this issue?

[2018-07-05 16:54] trask commented on #213
Hi @pavanimanthana, yes, a PR would be great!

[2018-07-05 21:11] witrdotnet commented on #176
Hi,

It seems that https://glowroot.org/latest/glowroot-latest-dist.zip is not up-to-date !
@trask the link point to 0.9.12 while actually the latest is the 0.10.12.

Thanks,
Mabrouk

[2018-07-11 15:24] fhperuchi opened #417 "Google account login support"
Hi!

I think it is very useful if we have a way to login via Google account in Glowroot web console. I have it in my Grafana (https://grafana.com/) installation here and it is so cool. Do you think is this possible?

Thanks in advance.
Fábio

[2018-07-11 23:46] aoganesi opened #418 "warning in the logs: extend() transaction currentTimer is null"
Hi,

We are noticing our logs flooded with the following Warning
`WARN  org.glowroot.agent.impl.TimerImpl - extend() transaction currentTimer is null`
In debug I see that it is generated in TimerImpl.extend(long startTick) method invoked from JDBC plugin (onBeforeCommon) callback. Below is a quick recap of the instrumented code that generates it.

[code]
Could you please advise:
- Is there a way t

[2018-07-12 02:37] trask commented on #418
Hi @aoganesi, thanks for reporting this!

I think the problem is that the instrumented transaction is captured on `getPendingReports()`, and so this transaction is completed before the ScrollableCursor is iterated.

Can you try putting the instrumentation on `process_reports()` instead, so it covers both the query and iteration?

Thanks,
Trask

[2018-07-12 04:44] aoganesi commented on #418
Hi Trask,

Thank you for looking into this!

Indeed, the issue stems from the fact that by the time ScrollableCursor is iterated, instrumented method is done. The reason why we chose not to instrument `process_reports()` is great variability in execution time depending on the number of reports to release, so we chose to instrument `getPendingReports()` (to measure query performance) and subsequent

[2018-07-12 04:53] trask commented on #418
Hi Tony,

Yeah, don't close this issue, I will probably fix this, you aren't doing anything wrong.

I'm glad you found a workaround.

You can deploy new agents with pre-populated `config.json` file.  This only works for new agents that don't already have a configuration stored in the central collector.  See more discussion at #213.

Thanks,
Trask

[2018-07-12 16:03] ecedwards opened #419 "Coldfusion 10 JVM Monitoring - only shows /index.cfm"
Hello,

I was just wondering if anyone has used Glowroot specifically for ColdFusion instances. I'm trying to monitor specific paths on the flow of my application, but the only thing Glowroot is registering is "/index.cfm". The only thing that changes on the app's step by step, is the query string, but not the path.

Is there a way to separate this or any setting to pull/detect the query string wi

[2018-07-17 11:06] solio opened #420 "Roadmaps and document？"
Is there any document for glowroot and feature roadmap？

[2018-07-17 16:24] vinodhavala opened #421 "NullPointerException for org.glowroot.agent.shaded.com.google.common.collect.ImmutableList"
2018-07-17 11:59:42,189 ERROR [default task-18]: [com.xxxxxxxx.error.xxxxxxxExceptionHandler] com.xxxxxxx.exception.xxxxxxxException: java.lang.NullPointerException
at org.glowroot.agent.shaded.com.google.common.collect.ImmutableList.copyOf(ImmutableList.java:267)
at org.glowroot.agent.model.ErrorMessage.buildThrowableInfo(ErrorMessage.java:74)
at org.glowroot.agent.model.ErrorMessage.fromThrowabl

[2018-07-18 07:52] bmhm opened #422 "Liberty Profile support"
Hi,

this site (https://glowroot.org/features.html) mentions Websphere.
I guess you mean IBM Websphere ND etc.

Nowadays, devs use Liberty Profile or OpenLiberty instead.

* OpenLiberty: https://github.com/OpenLiberty
* LibertyProfile (Closed Source based on OL): https://developer.ibm.com/wasdev/downloads/download-latest-stable-websphere-liberty-runtime/

Below the big link at the top of the page

[2018-07-18 07:58] bmhm commented on #422
By the way, for https://github.com/glowroot/glowroot/wiki/Where-are-my-application-server's-JVM-args%3F:

In  the server directory, just edit or create the file `jvm.otpions` and add these lines:
-javaagent:/path/to/glowroot/glowroot.jar

[2018-07-18 08:25] bmarwell opened #423 "Allow initial port and host configuration from jvm arguments"
Hi,

this site: https://github.com/glowroot/glowroot/wiki/Agent-Installation-(with-Embedded-Collector)

says: once ran once, edit the admin.json file.

For a big environment, this is not feasible. Also, for a deployment, creating a small admin.json file would be an unnessecary step.

Please allow options like:
* `-Dglowroot.agent.port=4000`
* `-Dglowroot.agent.host=localhost`

Thanks!

[2018-07-18 16:25] chupetoide opened #424 "Error browsing Heap histogram after run the GC: No such file or directory"
I got an IOException when trying to access to the JVM Heap Histogram after forcing the GC:

java.lang.reflect.InvocationTargetException: null
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.

[2018-07-18 20:48] #421 closed

[2018-07-18 20:51] trask commented on #422
Hi @bmhm, thanks for posting! What do you mean by IBM class names in the tracing view? Thanks.

[2018-07-18 20:57] trask commented on #420
Hi @solio, thanks for posting! There is currently no roadmap. Most of the development is driven by interest and the issue list. Are there any particular features you would like to see?

[2018-07-18 21:02] trask commented on #417
Hi @fhperuchi, this sounds nice, but probably won't make the priority list for a while unless someone else contributes it, so I'm closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-07-18 21:02] #417 closed

[2018-07-18 21:29] trask commented on #410
Closing, I think this is out of scope for Glowroot for now.

[2018-07-18 21:29] #410 closed

[2018-07-18 21:33] trask commented on #421
Hi @vinodhavala, thanks for reporting this! It should be fixed now in the latest snapshot release [glowroot-agent-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.10.13-SNAPSHOT).

[2018-07-18 21:54] bmhm commented on #423
Hi @trask ,

not everyone uses docker. Image deploying multiple jvms on a single machine, but using the same .jar file. Bevor starting ANY jvm, I'd need to manually create the `conf/agentid/admin.json` file. Just using a jvm option is so much easier for deployments, because you have to create the `jvm.options` file anyway.

Also, if a deployment needed to create the file manually, it would need to

[2018-07-18 21:59] lfen21 opened #425 "Enhancement - Plugin EJB"
Hi,

We think it will be usefull if ejb plugin can be configured to get more information like servlet plugin :
- Source
- Parameter
- Timing
- All kind of information from the ejb

Thanks

[2018-07-18 22:00] lfen21 opened #426 "Ehancement - Export with collector"
Hi

When we are using the data collector, it will be usefull if we can export all the configuration of one glowroot instance to import to another.

Actually, we can export/import instrumentation, but not the configuration of the plugins and the gauges.

Thank you.

[2018-07-18 22:02] lfen21 opened #427 "Enhancement - Collector compatible with MySQL"
Hi,

Cassandra isn't very user friendly when we have an error and we want to debug the configuration in the database.

Also we are using MySQL in our plateform and it's better than add a cassandra :)

Thank you

[2018-07-18 22:30] trask commented on #423
Thanks, I forgot about multiple jvms on one machine, you're right, this is a problem.

[2018-07-18 22:33] trask commented on #427
Hi @lfen21, this would be nice, but also a lot of work.  I'm going to close for now tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-07-18 22:33] #427 closed

[2018-07-18 22:42] trask commented on #425
Hi @lfen21,

Thanks for posting!  I'm not very familiar with EJBs myself, so need some guidance here:

* Source - can you provide more details? I'm not sure what this would be.
* Parameters - capture toString() on each parameter?
* Timing - can you provide more details? It's already capturing overall time.
* All kind of information from the ejb - can you provide more details?

Thanks,
Trask

[2018-07-18 22:48] #424 closed

[2018-07-19 00:42] trask commented on #424
Hi @chupetoide, thanks for reporting this! I was able to repro on my mac, and this should be fixed now in the latest snapshot release [glowroot-agent-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.10.13-SNAPSHOT).

[2018-07-19 02:48] chupetoide commented on #424
Perfect ! I'll try it ! Thanks

[2018-07-19 04:56] trask commented on #419
Hi @ecedwards, thanks for posting! Do you want to include the whole query string in the transaction name, or just part of the query string?

[2018-07-19 09:11] lfen21 opened #428 "reset admin password"
Hi

How to reset admin password in the central collector ?

Someone put a password and we are blocked
Thanks

[2018-07-19 11:31] bmhm commented on #422
So, for one:
* **Heap histogram**: This feature is not available when the agent is running in IBM J9 VM.
I know some tools can do it.
* *IBM class names*: I meant maybe we can filter, hide or highlight some of the class and package names in `Transactions` => `Continuous profiling`.
Would also apply to other jvms, of course.

I forgot to mention: j9 is now open source and available as Eclipse  open

[2018-07-19 13:47] lfen21 commented on #428
it's more difficult like that, tables user and role are empty in cassandra :(

[2018-07-19 14:50] solio commented on #420
@trask ，It's great to see that byte code hot patch replacement in runtime.

[2018-07-19 17:15] trask commented on #423
Hi @bmhm, would the user/role setup be the same for all JVMs? I think new agents should pick up default `config.json` and `admin.json` from the shared conf directory in the multiple JVM case (this would help https://groups.google.com/d/msg/glowroot/oUfwfdoTPIc/CL6LKDbxBgAJ also).

[2018-07-19 17:17] trask commented on #420
Hi @solio, can you expand on what you mean "byte code hot patch replacement in runtime"? Thanks.

[2018-07-19 17:24] trask commented on #371
Hi @vgmonnet, what are the complete JVM args used for the each JVM process?  I'm wondering if there's something distinct in the JVM args (e.g. a system property, or the main class / jar) that Glowroot could use internally to construct a distinct value for `glowroot.agent.id`.

[2018-07-19 17:29] trask commented on #413
And your EJB works fine (creates a new database transaction) when Glowroot agent is not running?  Thanks

[2018-07-19 19:07] webjoel commented on #413
Yes, just that, when we have a method with that annotation a new transaction is created in the database (PostgresSQL with JPA / Hibernate).

This works correctly only when the Glowroot agent is NOT enabled in WildFly.

Unfortunately, I had to remove Glowroot monitoring on projects that have this feature, I'm looking forward to a solution.

[2018-07-19 21:10] lfen21 commented on #428
it worked thanks !

[2018-07-19 21:10] #428 closed

[2018-07-19 21:13] lfen21 commented on #425
Hi

I'm not so good too :)

Hm

Source : We have some serveurs who are calling others by EJB, and we need to know who is the caller.
Parameters : I think so.
Timing : Sure it's ok. Maybe if we had the ejb in "service calls" it will be cool
All kind of information : if we can inspect what the response of the call.

[2018-07-19 22:36] trask commented on #389
Hi @thiagomdiniz, sorry for the late reply. Are you using the central collector or the embedded collector?
Would you want to send 1-min (rolled up) gauge values to Zabbix, or 5-second raw gauge values?

[2018-07-19 23:18] #412 closed

[2018-07-19 23:18] #418 closed

[2018-07-19 23:24] trask commented on #414
Hi @anveshgkumar, sorry for the late reply! Heartbeat alert at rollup level will only fire if none of the agent heartbeats were received for given time period.

[2018-07-20 00:07] pavanimanthana opened #429 "Add a plugin to support MongoDb"
Develop a plugin to monitor MongoDb with glowroot

[2018-07-20 02:08] solio commented on #420
Image a line code, you forgot to defense NullPointerException
`foo.doSomething();`
You want to modified like :
`if (null != foo)
        foo.doSomething();`
I want to modified and do not want to restart my application —— it spent too long!!!

In other case, hot patch can help you to  detect some strange issue withou restart application in product environment.

[2018-07-20 04:21] trask commented on #412
Hi @drmulligan, thanks for posting! This is available now in the latest snapshot release [glowroot-central-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.10.13-SNAPSHOT).

[2018-07-20 04:23] trask commented on #418
Hi @aoganesi, this is fixed now in the latest snapshot release [glowroot-agent-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.10.13-SNAPSHOT).

[2018-07-20 05:10] trask commented on #413
Hi @webjoel, I took the [wildfly 9.x quickstart cmt example](https://github.com/wildfly/quickstart/tree/9.x/cmt) and added a test of REQUIRES_NEW (https://github.com/trask/quickstart/commits/9.x) and it worked both with and without Glowroot agent. (I tried a couple of other REQUIRES_NEW tests as well and no difference with or without Glowroot agent)

I tested with WildFly-9.0.1.Final, Java 7 and G

[2018-07-20 08:38] bmhm commented on #423
Hi @trask,

yes, the user/role setup would be the same. I just tried to create the `admin-default.json`, but it did not get picked up in the current version.

The default config just wouldn't help with the ports, obviously.

Thanks a lot, great tool! Easiest to configure and the default (embedded) DB is sufficient for so many use cases! :)

[2018-07-20 18:32] webjoel commented on #413
Hi @trask, sorry, I guess the problem is not in the new transaction, not specifically, but something concurrency in hibernate session recovery:
[code]

[2018-07-21 00:14] trask commented on #428
👍

[2018-07-21 00:15] trask commented on #418
👍

[2018-07-21 00:38] trask commented on #413
Hi @webjoel, can you also post the code for `BOFactory.newTransactionSave()`, `HibernateUtil.lockTable()`, `executorAsync.executeReturn()`, and for the classes `AsyncProcessCommand`, `AsyncProcess`, `AbstractCommandTransaction`, `Test`, so I can try to build a repro?

[2018-07-21 00:59] trask opened #430 "Support heap histogram on IBM J9"
Currently, the heap histogram screen displays "This feature is not available when the agent is running in IBM J9 VM."

[2018-07-21 02:02] trask opened #431 "Support hiding some classes (e.g. java.*) when viewing profiles"

[2018-07-21 02:07] trask commented on #422
OpenLiberty is now added to [Where are my application server's JVM args?](https://github.com/glowroot/glowroot/wiki/Where-are-my-application-server's-JVM-args%3F#openliberty-18).

I opened an issue for supporting heap histogram on IBM J9 (#430).

And I opened an issue for hiding some classes (e.g. java.*) when viewing profiles (#431).

Let me know if there's anything else.

Thanks,
Trask

[2018-07-21 02:10] #407 closed

[2018-07-21 02:43] #396 closed

[2018-07-21 02:54] dowonderatwill commented on #407
Further we don’t see any leak problem. Thank you.

[2018-07-21 03:31] trask commented on #420
Hi @solio, that would be really cool (and I would totally use something like that) but I think it's beyond the scope of Glowroot currently.

[2018-07-21 03:31] trask commented on #407
👍

[2018-07-21 12:38] webjoel commented on #413
Hi @trask, below are two classes that I consider important, the other classes are just generic interfaces and classes, with extends and implements that will confuse a lot, plus I'll have to send almost half of the project, hehe, there are many extends. The "Test" class is a simple class (VO), can have any attribute, only mandatory is "Integer id", to test with the code I passed.

In my opinion, th

[2018-07-21 18:02] trask commented on #413
Hi @webjoel, I tried to create a repro based on the above at https://github.com/trask/issue-413, but still no luck.

Can you narrow down which Glowroot plugin is causing the issue? Maybe that will give some clues.

You can disable specific plugins by removing the corresponding json blocks from glowroot.jar/META-INF/glowroot.plugins.json file.

It seems most likely one of "EJB Plugin", "Hibernate P

[2018-07-21 19:27] #423 closed, assigned to nobody

[2018-07-22 17:06] trask commented on #423
Hi @bmhm, the latest snapshot release [glowroot-agent-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.10.13-SNAPSHOT) now supports `admin-default.json` and `-Dglowroot.agent.port=`. Let me know if this works out for you. Thanks.

[2018-07-22 21:05] ecedwards commented on #419
Hey Trask, I would like to include the whole query string in the transaction name.

[2018-07-23 07:10] bmhm commented on #423
@trask thanks, both options do work fine. Settings from `admin-default.json` were read (guest == non-admin, context-root = `/glowroot`), as well as the agent port. Haven't tried bindAddress through `admin-default.json`, though. Thanks!

[2018-07-23 12:05] webjoel commented on #413
Hi @trask, I extract original glowroot jar, removed plugin json blocks and compress jar again, and error occurs:

[code]

[2018-07-23 15:33] webjoel commented on #413
Hi @trask, I testesd with glowroot version 0.10.9 and problem not ocuurs.

In version 0.10.12, I disabled "Jdbc Plugin" and not works all most executes, but in some yes works fine with no have problems.

[2018-07-23 15:43] risrikanth opened #432 "Slow traces are not capturing for WebLogic Server Version: 12.2.1.2.0"
Hi Trask,

Central collector is not showing  slow trances in UI.
Below are the details
Web server : WebLogic Server Version: 12.2.1.2.0
Glowroot Agent Version : 0.10.4-11-SNAPSHOT
Glowroot Collector Version :   0.10.4

I am also attaching agent debug log for your reference.

[glowroot1.2018-07-20-2.log](https://github.com/glowroot/glowroot/files/2219991/glowroot1.2018-07-20-2.log)

Thanks,
Srikant

[2018-07-23 17:10] trask commented on #432
Hi @risrikanth, thanks for reporting this!

The agent log shows lots of this:

[code]

From https://github.com/grpc/grpc/blob/master/doc/statuscodes.md:

Can you check the collector log corresponding to the time when the agent gets the `unable to send data to the central collector: UNKNOWN` error?

Thanks,
Trask

[2018-07-23 17:22] trask commented on #413
Hi @webjoel, can you check 0.10.10 and 0.10.11 also? It might help to know which version the issue started in. Thanks.

[2018-07-23 18:16] webjoel commented on #413
Hi @trask, sorry, I tested too in 0.10.10 and 0.10.11, same problem, its started in the version 0.10.10.

[2018-07-24 06:41] trask commented on #413
@webjoel I posted builds for all of the commits between 0.10.9 and 0.10.10.

Can you bisect them to find out which commit is causing the issue?

[1 -  Release version 0.10.9](https://glowroot.org/temp/issue-413/glowroot-agent-issue-413-1-dist.zip)
[2 -  Next development version](https://glowroot.org/temp/issue-413/glowroot-agent-issue-413-2-dist.zip)
[3 -  Update dependency versions](https://glowr

[2018-07-24 11:57] webjoel commented on #413
Hi @trask, problem starts in: 4 - Support Remote EJBs with only Stateless annotation

[2018-07-24 14:56] bmhm opened #433 "Optimizer Hint is hidden in Oracle Queries"
Hi,

another edge case, but might be easily fixed. So tag this as low priority.

I tried to view a formatted SQL of an SQL with optimizer hints. An optimizer hint (sometimes a query hint) looks like a c-style comment in SQL, but Oracle does actually interpret it.

I attatched two screenshots. In the overview, you can see the hint.
In the detail view, it is gone. So this means it got parsed (perhap

[2018-07-24 16:18] webjoel commented on #413
@trask I do not know what happened, but from the commit (4 - Support Remote EJBs with only Stateless annotation), the glowroot is conflicting with the session, causing that in HibernateUtil (lockTable) method to return null on the line:

[code]

[2018-07-24 16:46] trask commented on #413
@webjoel Yeah, I'm still baffled too. I'd love to be able to repro it on my end. Is there any chance I can get a copy of your code? Or can you take a look at my attempted repro @ https://github.com/trask/issue-413, and let me know how to make it more like your code?

[2018-07-24 16:58] webjoel commented on #413
@trask Here is a legacy application, nor do I have full code mastery to try to help more, and your code @ apparently conforms to the structure of my code here.

What might have changed in the # 4 commit that broke my code? Is possible change something in : https://github.com/glowroot/glowroot/commit/b786246957fcd92a156d2b93f287a54fde412214 , here starts problem..

[2018-07-24 17:16] trask commented on #413
The problem with the # 4 commit is that it wraps everything in a transaction, which actives the other plugins downstream, so the problem may be in jdbc plugin, but until the code was wrapped in a transaction by # 4, the jdbc plugin didn't do anything (it only performs work inside of an existing transaction).

You mentioned above that it worked sporadically when you disabled the jdbc plugin? I just

[2018-07-24 18:00] webjoel commented on #413
@trask remove "@TransactionAttribute(TransactionAttributeType.REQUIRED)" from your repro:  https://github.com/trask/issue-413

Its not is more an fact I believe.

[2018-07-24 18:56] aoganesi opened #434 "Unable to re-establish connection to central after failure (ver. 0.10.9)"
Hi,

We ran into an issue today that our central server was not available at the time when one of the agents (running under tomcat) was restarted. The system keeps reporting reconnect failures and no data is being transmitted since even though central is available and working now. Is this a known issue?

``
2018-07-24 02:00:56.561 WARN  o.g.agent.central.CentralConnection - unable to establish con

[2018-07-24 20:20] risrikanth commented on #432
Hi Trask,
Thanks for your response. I couldn't find collector logs during that time. Now we have captured  agent and collector logs and UI screen shot. I am attaching for your ref.

Agent logs : EST time
Collector logs : PDT time
UI image : CST time..
[glowroot1.2018-07-24-1.30PM-ET.log](https://github.com/glowroot/glowroot/files/2225225/glowroot1.2018-07-24-1.30PM-ET.log)
[WIIT-Collector-2018-24-

[2018-07-24 21:03] trask commented on #434
Hi @aoganesi, just want to confirm, the agent looks like it might be pointing to the central collector UI port? Or do you have the gRPC port running on 443 and UI port running on some other port? Thanks.

[2018-07-25 03:19] trask commented on #432
Hi @risrikanth, the collector log ends at 2018-07-24 11:32:38, while the agent log doesn't start until after that (at 2018-07-24 13:40:48).

I'd like to see the central collector log for the time period covering when the agent receives the error back from the central collector.

[2018-07-25 04:10] trask commented on #434
@aoganesi Thanks for reporting this. This is not a known issue. Unfortunately the warn message `null` doesn't give much of a clue why this happened. I have updated that warn message to display the exception name as well, hopefully that will give more of a clue in the future. For now, if you continue to see this (or are able to repro?) can you set the agent log level to debug on `org.glowroot.agent

[2018-07-25 04:18] trask commented on #413
Hi @webjoel, I didn't follow your last comment.

Are you suggesting to remove `@TransactionAttribute(TransactionAttributeType.REQUIRED)` from [ProcessEJB.java](https://github.com/trask/issue-413/blob/master/src/main/java/org/example/ProcessEJB.java#L17) or from [QueueEJB.java](https://github.com/trask/issue-413/blob/master/src/main/java/org/example/QueueEJB.java#L21)?

Also, what is looking better

[2018-07-25 07:18] bmhm commented on #430
Great! Anyway, I'd consider this not too important. Nice feature to have, but in the end it's just a graph which is missing.

[2018-07-25 10:18] risrikanth commented on #432
Hi Trask,

Thanks for your time. Sorry for confusion.   Collector runs at 2018-07-24 09:23:20.631 to 2018-07-24 11:32:38.225   PST time zone(2018-07-24 12:23:20.631 to 2018-07-24 13:32:38.225  EST) and  Agents runs at EST time zone 13:26:27.936 TO 2018-07-24 13:40:48.015.  There is only few 5 mins of logs matching for both collector and agent.  while uploading logs it is accepting only 1 MB of dat

[2018-07-25 11:00] vgmonnet commented on #371
Hello @trask, There are three different JVM Processes namely forms, oafm and oacore. For which I am having different glowroot agents. Below are the actual JVM args,

The above JVMs create **Child JVM Processes** and I am **not getting any transactions from the Child JVM Processes**.

[2018-07-25 11:49] webjoel commented on #413
Hi @trask, correct, only remove @TransactionAttribute(TransactionAttributeType.REQUIRED) from ProcessEJB.java AND QueueEJB.java.

[2018-07-25 20:07] trask commented on #371
Thanks, this helped me look up a bit more about how it works. Looks like there is a "nproc" (number of processes) setting for each of these. Just want to confirm, you are running with nproc > 1 for each of these? e.g.

[code]

Thanks,
Trask

[2018-07-25 20:10] trask commented on #430
Yeah, I rarely find heap histogram useful anyways (I removed it completely at one point, but later decided it was occasionally useful). Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-07-25 20:10] #430 closed

[2018-07-25 21:00] bmhm commented on #430
Agreed. If I do have the time, I'll look into it.

[2018-07-26 03:39] risrikanth commented on #432
Hi Trask,

I have uploaded the files. Please check if those are not good, I will  take fresh data of one data for both collector and agent and send you.

Thanks,
Srikanth.

[2018-07-26 06:06] vgmonnet commented on #371
@trask, Exactly. The nproc is > 1 for all the configurations.

[2018-07-26 11:30] webjoel commented on #413
@trask, a important point is: with debug activated and debugging step by step, error not ocurrs. It is as if the glowroot blocked the connection to the database at some point in the execution of the EJB, because when the debug is activated and debugging step by step the connection time interval is greater clarification.

[2018-07-26 11:54] giovanicascaes opened #436 "Show query caller methods"
Hello!

Is it possible show the method that has called the query listed in the Query Stats, in the trace details?

[2018-07-26 14:44] trask commented on #436
Hi @giovanicascaes, thanks for posting! If you set "Stack trace threshold (millis)" to `0` under Configuration > Plugins > Jdbc Plugin, it will capture and display a stack trace for every query.

[2018-07-26 15:00] trask commented on #432
Hi @risrikanth, can you double check the agent version? I see it is using `grpc-java-netty/1.12.0`, which means it is Glowroot version v0.10.10+, which means it is sending QueryStats to the central collector, which would explain why the central collector is throwing error since v0.10.4 doesn't understand QueryStats.

[2018-07-26 16:41] giovanicascaes commented on #436
Thanks for the reply, @trask . I got it, the stack trace is shown in the trace entries. But may I ask you if it is possible to show this info in the query stats too? I think it is more convenient, because there you can see if a query is lasting too much (it has the time in ms) and I can't see this in the trace entries.

[2018-07-26 17:25] trask commented on #436
Hi @giovanicascaes, if you hover over the bar to the left of the trace entry you can see the timing. Though I agree this is less convenient than the query stats.

[2018-07-26 17:54] giovanicascaes commented on #436
Hi @trask . You're right, I can see the milis at left. However it is less convenient than query stats also because of the grouping of queries that sums their duration. May I ask you if it is too hard to implement the stack trace in the query stats?

[2018-07-27 00:20] trask commented on #371
@vgmonnet Thanks for helping me understand this use case!

I think I'll add a feature where if you specify

`-Dglowroot.agent.id=myrollup::myagent-{{1..10}}`

then glowroot will try `myagent-1`, and if that agent subdir is locked by another JVM process, it will try `myagent-2` and so on up to `myagent-10`.

[2018-07-27 08:01] vgmonnet commented on #371
@trask, Great! Will wait for that feature.

[2018-07-27 12:31] risrikanth commented on #432
Hi Trask,

Yes. we are using  v0.10.10 agent as they are having  https proxy jvm arguments,  v0.10.4 agent is having issues to connect to collector when we have proxy setting arguments.

To resolve this issue do we need to  upgrade collector to v0.10.10 or more  or do we have any other solution?

Thanks,
Srikanth.

[2018-07-30 00:06] thiagomdiniz commented on #389
@trask I am using the central collector.
I think sending between 1 and 5 minutes would be great. But I do not know if I was clear. The initial idea would be to use the glowroot's own monitoring, allowing to send a data to zabbix (trapper) instead of sending an email.

[2018-07-30 23:04] trask commented on #432
Hi @risrikanth, you could comment out this line in the v0.10.4 collector for now if you need:

https://github.com/glowroot/glowroot/blob/v0.10.4/central/src/main/java/org/glowroot/central/CollectorServiceImpl.java#L560

[2018-07-30 23:09] trask commented on #413
Hi @webjoel, yeah, that is very interesting. Can you try adding `Thead.sleep()` in various places to narrow down exactly where things go from bad to good when extra delay is added?

[2018-07-31 07:58] kRaVeda opened #437 "Atlassian JIRA plugin "Configuration Management Toolkit" fails to start"
Hi, Team,
 I tried to use Glowroot with JIRA, but it was unsuccessful unfortunately. The  JIRA plugin "Configuration Management Toolkit" failed to start with the error below
`2018-07-31 09:06:24,071 localhost-startStop-1 WARN      [c.a.jira.startup.JiraStartupLogger]

    *******************************************************************************************************************************

[2018-07-31 11:27] willsilvano commented on #392
@trask I sent to your mail. Thanks!

[2018-07-31 14:17] webjoel commented on #413
Hi @trask, I added `Thead.sleep(1000)` inside EJB before execute the method `HibernateUtil.lockTable` and problem not occurs, without adding or if add `Thead.sleep(1000)` before EJB invocation method, problem occurs.

That is, when I am inside EJB, the code below:

[code]
Not works with glowroot enabled, returning null in `vo`.

[2018-07-31 14:29] risrikanth commented on #432
Thanks trask for quick

[2018-07-31 14:44] bmhm commented on #423
Hi,
I found out that the `admin-default.json` is not in conf.dir, but in `glowroot.dir`. Directories are the same IF `glowroot.properties` does not exist.

But the behaviour is as expected.

We should just make sure that the `admin-default.json` is documented correctly.

[2018-07-31 15:47] risrikanth opened #438 "Feature to enable and disable the alerts"
Hi Trask,

We are getting lot of alerts when agent are in maintenance window. Is there any way to add  alert enable disable feature to glowroot.

Thanks,
Srikanth.
Ph:4088930460

[2018-07-31 21:49] trask commented on #437
Hi @kRaVeda, thanks for reporting this! What version of Glowroot agent are you using, and what version of JIRA?

[2018-08-01 14:35] bourretp opened #439 "Ability to manually start/stop transaction"
Hi,

I try to instrument [Apache Camel](http://camel.apache.org/) routers so I can
* start a transaction when a message enters the route
* stop the transaction when a message exits the route.

The problem is that routes are build using a DSL (http://camel.apache.org/java-dsl.html) and there is no specific class/method for the route being built, and I see no way to instrument that route using AOP.

[2018-08-01 17:29] trask commented on #438
Hi @risrikanth, thanks for posting! Are you looking for enable/disable on an individual alert level, on an individual agent level (all alerts for that agent), or on a global level (all alerts for all agents)?

[2018-08-02 09:04] DinoDeWaen opened #440 "allert not triggert"
Hi,

I have a few servers running glowroot and a few servers in a loadbalanced setup. Each agent is configured in the same way. environment::ip of that server (to make it unique for that environment).

This means I have for instance connected-prod:ip1, connected-prod::ip2
![screen shot 2018-08-02 at 10 55 13](https://user-images.githubusercontent.com/9537715/43573692-9d721ffe-9642-11e8-9c71-698988

[2018-08-03 15:27] kRaVeda commented on #437
Hi @trask,
JIRA v7.10.1
Configuration Management Toolkit v1.11.2
Glowroot agent v0.10.12

[2018-08-03 17:26] ecedwards commented on #419
Hey Trask, sorry for the delay response. Here are some of the queries that the application runs:

/index.cfm?event=ehOBE.dspPolling&requoteflag=false
/index.cfm?event=ehOBE.dspAvailability&requoteflag=false
/index.cfm?event=ehOBE.dspGuestInfo&

Hope this helps on how it can be handled... The application uses the query string for routing different steps of a process.

[2018-08-03 19:11] risrikanth opened #441 "Warning collection rejected due to backlog"
Hi Trask,

We have upgraded collector to v0.10.12 and we are floating with below warning message. Could you plz explain what scenario we will get below warning message.

2018-08-03 10:58:56.439 WARN  o.g.central.CollectorServiceImpl - IDP-27531-idp-ms-product-configuration :: zlp30255-idp-ms-product-configuration-3181340871 - collection rejected due to backlog

Thanks,
Srikanth.

[2018-08-08 06:50] DinoDeWaen commented on #440
update:
the heartbeat alarm works. The rest doesn't trigger.

[2018-08-10 20:52] ReillyProcentive opened #442 "Skip creation of subdirectories if agent.id is defined"
### Issue
We currently use Glowroot with Tomcat containers in our Kubernetes cluster. Each of these containers is configured to run with a read-only root fs with temporary and persistent mounted directories. Previously we configured Glowroot with a `glowroot.properties` that had the configuration directory on the read-only fs (we create the `admin.json` and `config.json` ahead of time) while the o

[2018-08-13 20:47] risrikanth opened #443 "Kafka plugin"
Hi Trask,
Thanks for product and features adding to glowroot.   Is there any plan to add kafka plugin to glowroot.

Thanks,
Srikanth.

[2018-08-14 00:11] trask commented on #442
Hi @ReillyProcentive, thanks for posting! Are you specifying the `agent.id` via command line, e.g. `-Dglowroot.agent.id=...` or via the `glowroot.properties` file?  It should only create the subdirectory if you specify the `agent.id` via the command line.

[2018-08-14 00:15] trask commented on #441
Hi @risrikanth, thanks for posting! Are you still having this issue? If so, can you monitor the central collector itself using (embedded/standalone) glowroot agent for a few hours (at least) and zip and upload the agent directory (including the data directory) to https://www.dropbox.com/request/cDuuIx5ffVWk48mhIBRy?

[2018-08-14 18:15] ReillyProcentive commented on #442
@trask we're specifying it via command line. The initial `glowroot.properties` file is created during the image creation process and thus ends up read-only.

[2018-08-15 17:33] fhperuchi opened #444 "Losing "instrumentation" settings in config.json file"
Hi!

When I restart my Tomcat application server instance, I'm losing the `"instrumentation"` section in my `config.json` file

[code]

Please, can you help me?

[2018-08-15 18:07] trask commented on #444
Hi @fhperuchi! Are there any ERROR or WARN in your glowroot agent log file? Thanks.

[2018-08-15 18:27] fhperuchi commented on #444
Hi @trask ! It's working now again even without the `instrumentation` section. I only changed the `config.json` file permission to 644.

[code]

Thank you again.

[2018-08-15 18:27] #444 closed

[2018-08-15 21:13] trask commented on #444
👍

How were your permissions set up? When I try with bad permissions I get errors, e.g.

[code]

I'd like Glowroot to log some kind of error in your case if possible.

[2018-08-15 23:25] fhperuchi commented on #444
Hi @trask ! Unfortunately, I don't know for sure if the permissions change solved this problem.

The `config.json` file permissions were 660. I've provisioned this file via Chef tool with the `instrumentation` section. Chef did its work well. But when Tomcat is started, this section disappears.

[2018-08-16 00:39] trask commented on #444
No worries, post back if you happen to run into the issue again. Thanks.

[2018-08-16 08:40] atallahade opened #445 "DCEVM compatibility"
Starting a jetty server using glowroot and with the alternative JVM [DCEVM](http://dcevm.github.io) produces this output before exiting:
[code]

It's not a big issue for me as I usually use DCEVM for dev and glowroot to monitor production environments but it would be interesting if there was a way to use these two projects together.

[2018-08-17 10:23] MFAshby opened #446 "Fails with VerifyError when yourkit also included in java options"
Glowroot + wildfly + yjpagent causes a mysterious error. This is probably to be expected since both yjpagent and glowroot are attempting to instrument the bytecode, however the mysterious error took a little while to diagnose.

Maybe it would be possible to detect that another instrumentation library is running in parallel and quit with a helpful error message?

minimal reproduction of the problem

[2018-08-17 14:44] risrikanth commented on #441
Hi Trask,
Thanks for your response.  We observed, this issue is occurring when ever heavy load. Like more slow transactions from agents,  slow transactions from gRPC. more pending actions from aggregation data.
We are also monitoring our collectors with glowroot agent.
I will send you the log files when we see  these errors due to heavy traffic from agents.  Will send you logs as soon as we see th

[2018-08-20 15:02] risrikanth commented on #441
Hi Trask,
We are already  monitoring our collector with  glowroot pointing to our central collector.
Today also we got some backlog warning messages.  We are seeing this issue when we are having lot of data coming.
I have uploaded both central collector log and  glowroot agent log . We observed issue 05:33:21 . Please let us know if you need more logs.
https://www.dropbox.com/request/cDuuIx5ffVWk4

[2018-08-20 17:33] risrikanth opened #447 "Not able to connect glowroot agent to Jboss EAP 6.4.16"
Hi Trask,

We are trying to connect  glowroot agent  0.10.4 or 0.10.11 to Jboss collector and we are not bale to connect . We are getting below error. I have debug logs for both  10.4 and 10.11 agents. If you can send me drop box link i can send u the logs.
Caused by: org.glowroot.agent.shaded.io.netty.channel.ConnectTimeoutException: connection timed out: tapm-uat1-col.test.att.com/135.69.200.72:

[2018-08-23 21:02] quochoangnguyen opened #448 "springbatch and glowroot"
Hi Trask,

with Glowroot, I known that we can use this tool to make profiling operations with java batch programs
developed with spring batch framework.

With Spring Batch Framework, I want to make profiling the method write in the class ItemWriter like the extract example code below :

public class StringItemWriter implements ItemWriter {

private static final Logger LOGGER =LoggerFactory.getLogg

[2018-08-24 19:18] ReillyProcentive commented on #442
I'm going to close this. We were able to get the desired behavior by using Helm to template the `glowroot.properties` file and using a barely documented Kubernetes feature to mount said individual file into the container.

[2018-08-27 05:29] trask commented on #447
Hi @risrikanth, sure, upload logs to https://www.dropbox.com/request/TUegb8pXFR8aSx85OMRF and I'll review. Also, since it's a `connection timed out` error, can you verify that 135.69.200.72:8181 is accessible from the box where the agent is running and not blocked by firewall?

[2018-08-27 05:38] trask commented on #448
Hi @quochoangnguyen, try adding instrumentation via the UI, e.g. under Configuration > Instrumentation. Depending on what exactly you want, here's a starting point:

* **Class name:** org.springframework.batch.item.ItemWriter
* **Method name:** write
* **What to capture:** Transaction
* **Transaction type:** Spring Batch
* **Transaction name:** Write Items
* **Trace headline:** {{this.class.name}}

[2018-08-28 09:43] quochoangnguyen commented on #448
Hi Trask,

thank for your help

But I want to ask you to confirm me the attribute Trace headline in the two  configuration instrumentation for two methods.

1) If I have the class class CrlFileItemReader extends AbstractItemStreamItemReader<CrlFileItem>
	implements ItemReader<CrlFileItem>, ResourceAwareItemReaderItemStream<CrlFileItem>
  and If I have the signature of the read() method like :
publ

[2018-08-28 15:51] pavanimanthana opened #449 "Latency in aggregation of rollup data"
This issue is raised for the google group discussion https://groups.google.com/forum/#!topic/glowroot/hzJWL5FnKig

For high volume of agent data the aggregation process slows down and the data has a lag in UI for up to a few hours.

[2018-08-31 14:59] fstreboot opened #451 "Unique Glowroot agent for multiple java instances"
Hi, here is my situation:
our team is slowly migrating our JBoss hosted applications to spring-boot apps.
Then, on the same Windows server, we'll have a JBoss server hosting 3 applications, and also few spring-boot applications hosted and running on the same Windows server as JBoss is running.
For the time this migration will last (a year or so), I would like that our Glowroot agent tracks the JBo

[2018-08-31 15:47] trask commented on #451
Hi @fstreboot, thanks for posting! Are you using the Glowroot central collector or the embedded collector?

[2018-08-31 22:56] trask commented on #392
Hi @willsilvano, sorry for the late reply. I think there was an issue prior to v0.10.10 that was preventing the instrumentation above from working. Can you give `v0.10.10` or later a try? Thanks.

[2018-09-02 18:53] #432 closed

[2018-09-02 18:53] #437 closed

[2018-09-02 18:59] trask commented on #423
Hi @bmhm, thanks for pointing this out, I've updated the code to look in both places now (first `conf.dir` then `glowroot.dir`).

[2018-09-04 16:46] hallzy7 commented on #411
This would be a very nice feature! I would also love the ability to configure alerts based on error messages.

[2018-09-06 16:56] trask commented on #442
Re-opening. I think the current behavior is confusing anyways (having different behavior depending on whether `agent.id` is specified via system property or via `glowroot.properties` file). I'm thinking to change this (with next major release `v0.11.0`) and require `agent.multi=true` (either via `glowroot.properties` or via command line `-Dglowroot.agent.multi=true`) in order to trigger the (subdi

[2018-09-09 22:19] verglor opened #452 "Could not find TLS ALPN provider in Alpine Linux"
Hi, I cannot get agent to communicate with central collector via https.

I have configured the follwing:
 - `grpc.httpsPort=8282` in `glowroot-central.properties` on central collector server
 - copied my letsencrypt's `fullchain.pem` to `grpc-cert.pem` and `key.pem` to `grpc-key.pem`.
 - `collector.address=https://glowroot.domain.com:8282` in the agent's `glowroot.properties`

And I am getting the

[2018-09-09 22:58] #436 closed

[2018-09-10 00:42] trask commented on #452
Hi @verglor, thanks for posting!

What glowroot agent version are you running?

What operating system are you running?

Do you have the `lib/glowroot-central-collector-https-*.jar` files under your glowroot agent directory?

Thanks,
Trask

[2018-09-10 07:07] pacific28 commented on #180
Hi Trask,
I'm using Nginx as Load Balancer for Server Side. Nginx Config is as such:
=======================================================
http {
	upstream grpcservers {
	    server server1:7878;  #ip of collector
	}
	server {
	        listen 8181 http2;
	        server_name  server1; #ip of collector
	        location / {
        	    proxy_pass http://grpcservers;
        	}
    	}
===========

[2018-09-10 08:54] verglor commented on #452
Hi @trask,

here is the missing information:

- central collector [v10.0.12](https://github.com/glowroot/glowroot/releases/download/v0.10.12/glowroot-central-0.10.12-dist.zip) @ Debian 9 in docker container [glowroot/glowroot-central:latest](https://hub.docker.com/r/glowroot/glowroot-central)
- agent [v10.0.12](https://github.com/glowroot/glowroot/releases/download/v0.10.12/glowroot-0.10.12-dist.z

[2018-09-10 09:07] DinoDeWaen commented on #440
- added synthetic monitor for the sync and added an allert. This works once again.

- response time alerts still fail to trigger.

[2018-09-10 17:00] trask commented on #180
Hi @pacific28, check out https://www.nginx.com/blog/nginx-1-13-10-grpc/. Starting with Nginx 1.13.10 you can use:

[code]

[2018-09-10 18:56] trask commented on #440
Hi @DinoDeWaen, thanks for the updates.

I just noticed in your screenshot above it has Transaction name "backend errors". This should be empty in order to monitor "All Background Transaction".

[2018-09-11 03:50] trask commented on #452
Check out https://github.com/netty/netty-tcnative/search?q=alpine&type=Issues.

Also check out https://github.com/grpc/grpc-java/blob/master/SECURITY.md#netty:

I couldn't get the OpenSSL variants of [netty-tcnative-alpine](https://github.com/pires/netty-tcnative-alpine) to build clean (similar to a couple of the issues reported in netty-tcnative).

But I was able to build the LibreSSL variant cle

[2018-09-11 11:05] DinoDeWaen commented on #440
hi Trask,

Thanks for the info, that was indeed the problem. Works like a charm now.

kind regards Dino

[2018-09-11 11:05] #440 closed

[2018-09-11 13:41] verglor commented on #452
Hi, @trask, thank you for your investigation.

Do you think it is possible to distribute this patched `glowroot-central-collector-https-linux.jar` as something like `glowroot-central-collector-https-alpine.jar` together with other agent libs ?

It would be also ideal if agent was able to pick it if it's running in alpine (or in general in distribution with musl) however it is not a big deal to rep

[2018-09-11 21:16] mani8884 commented on #441
Hi Trask,

Could you please let us know if you have any update on this issue. Thanks for the help.

Regards,
Manikanth

[2018-09-11 21:58] trask commented on #441
Hi @mani8884, sorry forgot about this, can you try with the latest snapshot release [glowroot-central-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.10.13-SNAPSHOT)? I fixed an issue with the Cassandra connection pool management that could have been causing this.

[2018-09-12 00:27] mani8884 commented on #441
Sure Trask. Will try that. Thank for providing the fix.

[2018-09-12 09:25] dharanchandar opened #453 "How to use with NodeJS for monitoring"
I have node JS server which hosted the angular JS and type script code , I need to know how to use glowroot to monitor the nodeJS server

[2018-09-12 18:58] trask commented on #453
Hi @dharanchandar, thanks for posting! Glowroot only supports monitoring Java, so no NodeJS sorry.

[2018-09-13 12:51] fstreboot commented on #451
Hi @trask, sorry for the delay.
We use the embedded collector.

[2018-09-13 19:14] trask commented on #448
Hi @quochoangnguyen, sorry for the late reply. The "Trace headline" is just the text that will be shown when you open a trace, so it can be any text (doesn't need to be anything exact). See the help text for that field when you are creating Instrumentation through the UI:

[2018-09-13 19:16] trask commented on #451
Hi @fstreboot, have you already seen https://github.com/glowroot/glowroot/wiki/Agent-Installation-%28with-Embedded-Collector%29#running-multiple-agents-on-a-single-box?

[2018-09-13 21:00] quochoangnguyen commented on #448
Hi Trask,

Thanks a lot for your help.

Best Regards

[2018-09-13 21:00] #448 closed

[2018-09-13 21:07] epyonavenger opened #454 "Push Config Changes Without Restarting"
Creating a GitHub issue as per conversation in the mailing list.

We were looking for some sort of method/API to push changes to systems without having to restart Tomcat in order to have them picked up.

Originally, this started with wanting to deploy glowroot and add user accounts to it, but has since expanded to needing to adjust retention and some other bits and bobs.

I know creating a whole n

[2018-09-14 07:26] blademainer opened #455 "No field `cassandra.symmetricEncryptionKey` in glowroot-central.properties"
[docker-entrypoint.sh](https://github.com/glowroot/glowroot/blob/master/central/docker-entrypoint.sh) replace field `cassandra.symmetricEncryptionKey` by environment `CASSANDRA_SYMMETRIC_ENCRYPTION_KEY `， but no field `cassandra.symmetricEncryptionKey` in the glowroot-central.properties file, so that the environment is no use even it's presented.

[2018-09-14 12:35] fstreboot commented on #451
Yes I did. But at first view, I think it isn't what I was looking for.
I want to have a unique Glowroot UI dashboard/database that group my JBoss applications AND spring-boot apps.
So when I have to monitor all the applications hosted on server "my-server-abc", I'll reach out:
http://my-server-abc:4000
and see all the apps (JBoss and spring-boot).

And not have to reach out a bunch of different UI

[2018-09-14 20:05] trask commented on #451
Hi @fstreboot, the embedded collector doesn't support this, but the central collector does :-).

[2018-09-18 08:44] fairlyaccurate commented on #343
Hi Trask,
   If we could provide rate limiting and manage load from the agent(s) at the collector end we could base it on number of requests / connections per agent.

[2018-09-19 15:17] fstreboot commented on #451
All right then, I'll see if we can switch to a central collector. Thank you!

[2018-09-20 03:32] #371 closed

[2018-09-20 04:00] trask commented on #371
Hi @vgmonnet, thanks for your patience!

`-Dglowroot.agent.id=myrollup::myagent-{{1..10}}`

should work now in the latest snapshot release [glowroot-agent-0.11.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.11.0-SNAPSHOT).

[2018-09-20 14:31] mani8884 commented on #441
Hi @trask , Is it possible to provide the exact commit id ?

[2018-09-20 16:06] trask commented on #441
Hi @mani8884, sure, the problem was fixed in f761741e144e48b426d851063cf4d46a1d4e1f99

[2018-09-21 02:05] mani8884 commented on #441
Thank you so much @trask

[2018-09-21 06:04] beeant0512 opened #456 "::ffff:127.0.0.1:4000"
i am using -javaagent: path/glowroot.jar .. in docker, and i expose 4000 port, but in docker container , the 4000 ports is

[code]

how to fix this?

[2018-09-22 01:59] trask commented on #456
Hi @beeant0512, thanks for posting! Check out https://github.com/glowroot/glowroot/wiki/Agent-Installation-(with-Embedded-Collector)#optional-post-installation-steps. Probably you need to add an `admin.json` file to the glowroot agent directory with this content:

[code]

[2018-09-22 04:13] #455 closed

[2018-09-22 04:14] trask commented on #455
Hi @blademainer, thanks for reporting this! This should be fixed in the next release.

[2018-09-22 04:18] trask commented on #447
Closing, but please re-open if you are still facing this issue. Thanks.

[2018-09-22 04:18] #447 closed

[2018-09-22 04:35] trask commented on #434
Hi @aoganesi, I think there's a good chance the issue you ran into is fixed by a796242a05fd29f0cebdc1941eaca32a22eec35f in the latest snapshot release [glowroot-agent-0.11.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.11.0-SNAPSHOT). Previously the agent was only resolving the collector host name at

[2018-09-22 04:35] #434 closed

[2018-09-22 04:46] trask commented on #451
👍

[2018-09-22 04:46] #451 closed

[2018-09-22 04:52] #453 closed

[2018-09-22 05:02] trask commented on #446
Hi @MFAshby, thanks so much for the repro! This should be fixed now in the latest snapshot release [glowroot-agent-0.11.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.11.0-SNAPSHOT).

[2018-09-22 05:02] #446 closed

[2018-09-22 05:27] trask commented on #445
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-09-22 05:27] #445 closed

[2018-09-22 05:45] aoganesi commented on #434
Thank you! Will update as soon as it's out. Greatly appreciate the attention!

[2018-09-22 16:30] trask commented on #359
This should be fixed now in the latest snapshot releases [glowroot-agent-0.11.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.11.0-SNAPSHOT) and [glowroot-central-0.10.13-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=di

[2018-09-22 16:30] #359 closed

[2018-09-22 16:31] #452 closed

[2018-09-22 16:35] trask commented on #452
Hi @verglor, I hadn't realized how popular Alpine Linux has become in the container world, thanks for raising this issue! I added a new `glowroot-central-collector-https-linux-alpine.jar` artifact and the Glowroot agent should now detect and use that if it's running on Alpine Linux (it checks for existence of the file `/etc/alpine-release`).

[2018-09-24 15:50] tml opened #457 "Flame graph tooltip renders outside of browser window"
I am unable to view the entire tooltip of items on the left edge of my flame graph; screenshot attached. The left edge of the screenshot is the extreme left edge of the browser (and OS/desktop viewable space).

<img width="649" alt="screen shot 2018-09-24 at 9 48 01 am" src="https://user-images.githubusercontent.com/35148/45962866-238f3480-bfdf-11e8-97b0-e12ececc26bd.png">

[2018-09-25 02:47] beeant0512 commented on #456
@trask  Thanks.

[2018-09-25 19:11] ionutursuleanu commented on #359
Thank you

[2018-09-25 19:40] webjoel commented on #413
Hello!

More informations what can help:

PostgreSQL Client 9.3

Some dependencies importants:

[code]

[2018-09-25 21:49] reshippie opened #458 "How to programmatically determine agent version"
I'm trying to automate detecting if we need to upgrade the installed instance, but running into a small hiccup determining the currently installed version.  The embedded collector nicely displays the version at the bottom of the page, but the actual `glowrootVersion` variable is defined as part of the `layout` var inside of the script tag.  I am currently finding it by downloading the login page t

[2018-09-26 01:31] #456 closed

[2018-09-26 02:09] trask commented on #442
Closed by f4519f8687eb0fa555a609caa3c85bc702d501da.

Using `-Dglowroot.agent.id=...` no longer has any affect on the multi-directory behavior.

Multi-directory behavior now must be explicitly enabled via `multi.dir=true` in the agent's `glowroot.properties` file, or via `-Dglowroot.multi.dir=true` on the command line.

[2018-09-26 02:09] #442 closed

[2018-09-26 08:21] Hervian opened #459 "How to delete data older than X hours"
Hi

Does the directories in which glowroot stores it's data keep growing in size or is there some option to delete data older than fx one week? My concern is that the directory will just keep growing until the server runs out of diskspace. In my use case I am only interested in inspecting what happened during the last 24 hours, so data older than that I would like to be deleted.

Best regards, And

[2018-09-26 10:39] kRaVeda commented on #437
Thank You, @trask !
It works and it is really cool and helpful

[2018-09-26 16:07] trask commented on #459
Hi @Hervian, thanks for posting!

Check out the options under Administration > Storage, e.g. https://demo.glowroot.org/admin/storage

[2018-09-26 16:12] trask commented on #437
👍

[2018-09-26 17:29] reshippie commented on #458
That exactly the kind of solution I was looking for!  Thanks so much for your help.

[2018-09-26 17:29] #458 closed

[2018-09-26 17:40] trask commented on #458
👍

[2018-09-27 14:45] webjoel commented on #413
WORKAROUND:

[code]

[2018-09-28 08:51] bit-ionutursuleanu opened #460 "Unformatted sql on slow trace export (v0.11)"
Hi,

I tried to export a slow trace on the last version and all the sqls are not formatted

[2018-09-28 13:30] bmhm commented on #430
As information: Heap analysis is available using IBM Memory Analyzer Tool (MAT).

https://www.ibm.com/developerworks/community/blogs/kevgrig/entry/how_to_use_the_memory_analyzer_tool_mat_to_compare_heapdumps_and_system_dumps20?lang=en

Noteworthy: glowroot will not compile in openj9 (or any other j9), because obfuscation will fail.

I also dug around a little. It seems the class which needs to be

[2018-09-28 13:40] bmhm commented on #430
Wrap an if around these lines:

[2018-09-30 18:02] trask commented on #430
Hi @bmhm, I tried what you suggested, but `com.ibm.tools.attach.attacher.OpenJ9VirtualMachine` has no method similar to `heapHisto()`, which is the method Glowroot calls to get the heap histogram on other JVMs.

The [IBM link](https://www.ibm.com/developerworks/community/blogs/kevgrig/entry/how_to_use_the_memory_analyzer_tool_mat_to_compare_heapdumps_and_system_dumps20?lang=en) above requires taki

[2018-10-01 10:40] bit-ionutursuleanu opened #461 "ProcessCpuLoad & SystemCpuLoad gauge are always reporting -1 readings (v0.11)"
Hi,

ProcessCpuLoad & SystemCpuLoad gauge are always reporting -1 readings (v0.11 & win 10)

![image](https://user-images.githubusercontent.com/5971510/46284176-86547300-c57f-11e8-8702-60f8d7f08ac9.png)

[2018-10-01 16:42] trask commented on #461
Hi @bit-ionutursuleanu, thanks for reporting this!

I'm not seeing this issue locally, e.g. https://demo.glowroot.org/jvm/gauges?gauge-name=java.lang:type%3DOperatingSystem:ProcessCpuLoad&gauge-name=java.lang:type%3DOperatingSystem:SystemCpuLoad.

What does Glowroot UI > JVM > Environment > Java > VM report? e.g. https://demo.glowroot.org/jvm/environment reports `VM
OpenJDK 64-Bit Server VM (25.18

[2018-10-01 16:45] #457 closed

[2018-10-01 16:45] #460 closed

[2018-10-01 17:12] trask commented on #460
Thanks for reporting this! It should be fixed now in the latest snapshot releases [glowroot-agent-0.11.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.11.1-SNAPSHOT) and [glowroot-central-0.11.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot

[2018-10-01 17:12] trask commented on #458
Starting in `v0.11.1` you will also be able to run `java -jar glowroot.jar version` to get the version (e.g. if you are on Windows where the above solution probably won't work).

[2018-10-01 17:12] trask commented on #457
Thanks for reporting this! It should be fixed now in the latest snapshot releases [glowroot-agent-0.11.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.11.1-SNAPSHOT) and [glowroot-central-0.11.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot

[2018-10-01 18:16] risrikanth commented on #453
Hi Trask,
Thanks for clarification and sorry for asking again same question as I found couple of links in google.  I  see couple of post for node.js with glowroot.   Can you please conform glowroot with node JS support.
https://github.com/varunchauhan49/glowroot-node-agent
https://www.npmjs.com/package/glowroot-node-agent

Thanks,
Srikanth.

[2018-10-02 08:44] bmhm commented on #430
Thanks a lot for your research effort!

@trask if you are interested in getting this method implemented in IBM j9 and openJ9, feel free to vote. All you need is an IBM id (which can be created for free, it's just a user account).

http://www.ibm.com/developerworks/rfe/execute?use_case=viewRfe&CR_ID=125480

[2018-10-02 17:19] bit-ionutursuleanu commented on #461
Hi @trask

`Version
1.8.0_181
VM
Java HotSpot(TM) 64-Bit Server VM (25.181-b13, mixed mode)`

Payara Full

Capabilities
Thread CPU time ON
Thread contention time ON
Thread allocated bytes ON

I also tested with older versions and the same behaviour is present. What is strange is that I can't reproduce this on another machine....

[2018-10-03 00:01] trask commented on #461
Hi @bit-ionutursuleanu, what is reported in Glowroot UI under JVM > MBean tree, for the OperatingSystem MBean, e.g. https://demo.glowroot.org/jvm/mbean-tree?expanded=java.lang:type%3DOperatingSystem
![image](https://user-images.githubusercontent.com/218610/46383344-c3466580-c664-11e8-8192-5012244eb590.png)

[2018-10-03 18:06] trask commented on #461
Hi @bit-ionutursuleanu, that is very strange.

This is possibly interesting, from https://stackoverflow.com/questions/45795408/why-does-getsystemcpuload-returns-negative-value:

Though it seems like in your case Java is able to read some Windows counters but not others.

This is also possibly interesting, and references being able to see some counters but not others, from https://community.oracle.

[2018-10-04 05:46] Saurabh756 opened #462 "How to save files in database"
Kindly help me to let me know how we can save the files that are saved on the server in the database to remove the load on the server.

[2018-10-04 10:10] bit-ionutursuleanu commented on #461
Hi @trask

I guess you can close this for now...as it seems to be just a local issue on my machine

[2018-10-04 12:17] vgmonnet commented on #371
Thanks @trask . Will try to test this. Unfortunately, I no longer have this environment. :(

[2018-10-04 15:14] bit-ionutursuleanu commented on #461
Also, this is logged at startup:

ERROR o.g.a.util.LazyPlatformMBeanServer - platform mbean server was never created by container

[2018-10-05 02:20] trask commented on #462
Hi @Saurabh756, thanks for posting!

Are you running the embedded collector? Are you asking about the files under the `data/` directory? Have you looked at the central collector?

Thanks,
Trask

[2018-10-05 02:23] #459 closed, assigned to nobody

[2018-10-05 08:43] bit-ionutursuleanu commented on #461
Hi @trask ,

And it's working now...after a major windows 10 update. Thanks for investigating this

[2018-10-08 14:13] nboucly opened #464 "[Transactions] a way to research with 2 keywords ?"
hello

I search a way to use 2 keywords in headline/URL with "Does no contain" in Slow traces tab, in transaction page.

Have an idea to do it ?

for example : pdf OR txt

Thank you for your help
![image](https://user-images.githubusercontent.com/8500683/46613983-f4b3ab00-cb14-11e8-8f2c-63e8e8eec6a4.png)

[2018-10-09 04:06] trask commented on #442
Hi @ReillyProcentive, there's a new setting in the latest snapshot release [glowroot-agent-0.12.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.0-SNAPSHOT) to tell Glowroot that you want the local configuration to be read-only.

It's specified as either

* `config.readOnly=true` in the glowroot.prop

[2018-10-09 06:02] Saurabh756 commented on #462
Hi Trask,

Yes I am talking about the files saved on the path data/.
I want to save that files in the database.

Thanks

[2018-10-10 03:59] trask commented on #464
Hi @nboucly, thanks for posting! There is not currently a way to do this.

[2018-10-10 04:00] trask commented on #462
Hi @Saurabh756, have a look at the central collector. This will allow you to save all the glowroot data in a central database (Cassandra).

[2018-10-12 09:52] tholu opened #465 "Heap histogram inside Docker container"
When trying to access /jvm/heap-histogram inside a Docker container with Glowroot 0.11.1 deployed:

[code]

The Docker container is based on: `openjdk:8-jdk-alpine`.

[2018-10-16 02:17] #454 closed

[2018-10-16 02:17] #465 closed

[2018-10-16 07:04] tholu commented on #465
Thanks for your fast response and fix! 👍

[2018-10-16 16:54] #441 closed

[2018-10-16 16:55] #392 closed

[2018-10-16 16:55] #414 closed

[2018-10-17 07:10] epyonavenger commented on #454
Will try it out as soon as I can!

Apologies if it's a dumb question, but is there any documentation for the API?

[2018-10-18 23:28] trask commented on #454
Hi @epyonavenger,

POST the config.json to `/backend/config/json` and POST the admin.json to `/backend/admin/json`. I think that's all, but definitely let me know if you run into any troubles.

Thanks,
Trask

[2018-10-19 18:25] carlosmuller opened #466 "Trying to setup on java 11 and tomcat9.0.12"
I'm trying to setup on tomcat and java 11.
The glowroot is up but my application is not

[catalina.log.txt](https://github.com/glowroot/glowroot/files/2496900/catalina.log.txt)
[glowroot.2018-10-19.log](https://github.com/glowroot/glowroot/files/2496901/glowroot.2018-10-19.log)
Some errors i'm seeing:

[code]

[2018-10-19 19:53] carlosmuller commented on #466
Now my application is up but the errors keep happening

[2018-10-21 17:48] #466 closed

[2018-10-21 18:17] trask commented on #466
Hi @carlosmuller, thanks for reporting this! Glowroot should support Java 11 now in the latest snapshot releases [glowroot-agent-0.12.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.0-SNAPSHOT).

[2018-10-22 13:29] carlosmuller commented on #466
thanks it worked like a charm

[2018-10-23 07:22] lukaszun opened #467 "Invalid transaction time for WebFlux applications"
Transactions monitoring is not working as expected for Webflux applications. Transation time is counted in miliions of miliseconds for such applications. Do you have any idea how to fix it?
![obraz](https://user-images.githubusercontent.com/2979158/47342936-33b13700-d6a5-11e8-9fd2-60d85391fc8d.png)

[2018-10-24 12:25] prodanov opened #468 "Release of a Java 11 comaptible version"
Hi, thanks a lot for building this great product. We are currently migrating to Java 11 and have some issues with the embedded collector. I saw that there are already Java 11 builds but so far no official version.

Currently we have a lot of issues of the type:

ERROR o.g.a.w.WeavingClassFileTransformer - error weaving com/sun/org/apache/xalan/internal/utils/XMLSecurityManager: null
java.lang.Unsu

[2018-10-25 04:49] trask commented on #467
Hi @lukaszun, thanks for reporting this! Are you using Webflux over Netty or Tomcat (or other)?

[2018-10-25 06:12] trask commented on #467
Also, what versions of Spring/Netty/Tomcat/etc are you using? Thanks.

[2018-10-25 06:19] lukaszun commented on #467
Spring Boot 2.0.1
Netty 4.1

[2018-10-25 14:43] willsilvano opened #469 "Webhook integration"
Hello @trask !
There is any way to send POST requests when we have active alerts?
We have Slack here and I would like to send Slack bot messages notificatons instead of e-mail.

[2018-10-26 02:33] trask commented on #468
Hi @prodanov, thanks for posting! I'm planning to release 0.12.0 in a couple of days.

[2018-10-29 03:29] #468 closed

[2018-10-29 13:17] prodanov commented on #468
Thanks!

[2018-10-30 02:39] rwalkerands opened #470 "Pretty-printed request parameters don't have necessary HTML escaping"
(This is with 0.11.1.)

When viewing the details of a slow trace, the request query string is shown "raw", and then the query parameters are extracted and shown "pretty-printed".

In this example (see cropped screenshot below), there is a query parameter "query", and its value contains a couple of `<` symbols (URL-encoded as `%3C`), which need to be HTML-escaped for the pretty-printed display, but

[2018-10-31 02:10] #429 closed

[2018-10-31 02:10] #470 closed

[2018-10-31 03:45] trask commented on #467
Hi @lukaszun, I'm not able to reproduce this problem. Can you export and attach (or email me) one of those traces? Maybe I can get some clues from that how to repro. Thanks.

[2018-10-31 04:12] trask commented on #415
Hi @gdelafosse, thanks for posting! And sorry for the long delay.

I just took a look at the GraphQL API, are you looking to capture calls to `graphql.GraphQL.execute(..)`?

Thanks,
Trask

[2018-10-31 04:57] trask commented on #469
Hi @willsilvano, thanks for posting! Does the POST body need to have a specific format?

[2018-11-01 15:49] jluna754 opened #471 "ERROR org.glowroot.agent.weaving.Weaver - wrote bytecode"
Hi,

Could you help me please with this error on Oracle OSM, WebLogic Server: 10.3.5.0

ERROR org.glowroot.agent.weaving.Weaver - unable to weave oracle/jdbc/driver/OracleClosedStatement: -1
java.lang.ArrayIndexOutOfBoundsException: -1
	at java.util.ArrayList.remove(ArrayList.java:390)
	at org.glowroot.agent.shaded.org.objectweb.asm.commons.AdviceAdapter.popValue(AdviceAdapter.java:604)
	at org.gl

[2018-11-01 19:12] trask commented on #471
Hi @jluna754, thanks for reporting this! Can you attach the file that Glowroot wrote out to `/var/tmp/glowroot-weaving-error-OracleClosedStatement.class`? Also, what version of Glowroot agent are you using?

[2018-11-01 19:46] jluna754 commented on #471
Hi @trask

Thanks for your attention, look:

 Glowroot version: 0.12.1, built 2018-11-01 00:27:45 +0000

I use coherence server, can be related with that?

Many thanks,

[2018-11-01 19:51] trask commented on #471
Can you attach (or email to me) the file that Glowroot wrote out to `/var/tmp/glowroot-weaving-error-OracleClosedStatement.class`?

[2018-11-01 19:59] jluna754 commented on #471
look this another error:
####<Nov 1, 2018 2:53:01 PM COT> <Warning> <oms> <netvm-rosmapp4> <newOSM_ManagedServer_2> <Thread-76> <oms-internal> <> <0000MRGnn778pm8Lnik3yZ1RqpTx000002> <1541101981276> <BEA-000000> <cluster.ClusteredHandlerFactory: Failed to collect all cluster member info after 10 attempts>

[2018-11-01 20:03] jluna754 commented on #471
yeah, check your mail please.

[2018-11-01 20:10] trask commented on #471
Thanks, can you also attach (or email me) your glowroot log?

[2018-11-01 22:29] jluna754 commented on #471
Look this error:

servlet dispatch: /MainMenu.jsp
 EJB Exception:; nested exception is:
	java.lang.RuntimeException: Cannot process request. ClusteredHandlerFactory is not running - current state is [STARTING]. The likely cause of this error is that the application is in the process of being started or stopped.

I think this error is related with coherence, maybe glowroot not support coherence?

M

[2018-11-02 06:30] anishkh opened #472 "Jetty Plug-in"
Hi Trask,

Thanks for releasing Kafka and MongoDB plug-ins. Any plans to have Jetty plug-in support in Glowroot?

Anish

[2018-11-02 17:10] trask commented on #472
Hi @anishkh, thanks for posting! Jetty should already be supported by the Servlet plugin. Can you clarify what kind of Jetty support you are meaning?

[2018-11-02 17:56] trask commented on #471
Hi @jluna754, can you send me `/var/tmp/glowroot-weaving-error-MDListener.class` from your most recent try above?

[2018-11-02 18:06] trask commented on #453
Hi @risrikanth, that is @varunchauhan49's node agent that reports to the glowroot central collector.

[2018-11-05 01:07] #469 closed

[2018-11-05 01:52] trask commented on #469
I found slack documentation and integration is now available in the latest snapshot releases [glowroot-agent-0.12.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.2-SNAPSHOT) and [glowroot-central-0.12.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=o

[2018-11-05 07:21] lukaszun commented on #467
[trace-20181029-001534-200.zip](https://github.com/glowroot/glowroot/files/2547275/trace-20181029-001534-200.zip)
Here you are

[2018-11-05 08:27] lukaszun opened #473 "Spring cloud gateway memory leak"
There is some problem with glowroot objects in Webflux applications:

![obraz](https://user-images.githubusercontent.com/2979158/47986407-f0ab8680-e0dc-11e8-800b-91a52798ab7a.png)

These values keep rising.

[2018-11-06 03:17] trask commented on #467
Yes! I was able to repro using spring-cloud-gateway! Thanks.

[2018-11-06 06:34] lukaszun commented on #467
Great!
Can't wait for the fix. When can it be?

[2018-11-07 05:06] #467 closed

[2018-11-07 05:06] #473 closed

[2018-11-07 05:32] trask commented on #467
This should be fixed now in the latest snapshot release [glowroot-agent-0.12.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.2-SNAPSHOT).

[2018-11-07 05:32] trask commented on #473
This should be fixed now in the latest snapshot release [glowroot-agent-0.12.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.2-SNAPSHOT).

[2018-11-07 08:27] ionutursuleanu opened #474 "Slow threshold override for user"

[2018-11-07 10:09] willsilvano commented on #469
@trask Wow! That's nice! Thank you!

[2018-11-07 13:48] bit-ionutursuleanu opened #475 "Flame graph for slow trace"
Hi @trask ,

Could you also add flame graph on slow traces? It's easier to view the bottleneck if there are a lot of branches

[2018-11-07 15:39] willsilvano commented on #469
When are you planning to release the next version with this feature?

[2018-11-07 23:42] fseregin opened #476 "Unable to establish connection after update from 0.11.1 to 0.12.1"
Hi,

We ran into an issue today that the agent can't connect to the collector after update from 0.11.1 to 0.12.1. First time I've updated the collector and it works fine but after agent is updated I see a WARM message:

2018-11-07 15:26:07.570 INFO  org.glowroot - Glowroot version: 0.12.1, built 2018-11-01 00:27:45 +0000
2018-11-07 15:26:07.572 INFO  org.glowroot - Java version: 1.8.0_181
2018-11-

[2018-11-08 05:01] #476 closed

[2018-11-08 05:35] trask commented on #469
Probably sometime in the next couple of days.

[2018-11-09 22:17] arunavijay commented on #290
Hi,
Could you please let me know if there any update on distributed tracing feature?

[2018-11-10 20:08] impradee2008 opened #477 "Support for JavaScript based application?"
Hi,
Does it support now or in future a JavaScript based application, built on Angular JS framework?

[2018-11-15 14:13] ross-everitt opened #478 "Updating glowroot agent causes IOException"
I'm upgrading from agent glowroot-0.10.12 to glowroot-0.12.2.  I see the following error:

Glowroot not started: Permission denied
java.io.IOException: Permission denied
        at java.io.UnixFileSystem.createFileExclusively(Native Method)
        at java.io.File.createNewFile(File.java:1012)
        at org.glowroot.agent.AgentDirsLocking.touch(AgentDirsLocking.java:70)
        at org.glowroot.ag

[2018-11-15 18:57] trask commented on #478
Hi @ross-everitt, thanks for posting! The file it's trying to create is `/trace/glowroot-tmp/{agent.id}/.lock`. Can you check the owner and permissions on both '/trace/glowroot-tmp/appname' and '/trace/glowroot-tmp/appname1` to see if there is a difference that would explain this?

[2018-11-15 22:09] trask opened #479 "Synthetic results rollup can lead to confusing displays"
E.g.
![image](https://user-images.githubusercontent.com/218610/48584943-03de0380-e8e0-11e8-83d7-37c733e1276f.png)

[2018-11-15 22:42] ross-everitt commented on #478
Hi thanks, at a glance this seems to have resolved the issue.  The
directory was accessible by the user, but owned by group (the mask
is drwxr-xr-x if you're interested so interestingly it seems that write
permissions were missing which is surprising as the app has been running
successfully before upgrade).  In my case I have simply adjusted
ownernship, but I guess a permissions adjustment would h

[2018-11-17 02:34] trask commented on #478
👍

[2018-11-17 02:34] #478 closed

[2018-11-19 10:31] Sohailjp opened #480 "Service calls and queries not being captured - Weblogic 10.3.2/java 6"
Dear Trask,

Data base queries and service calls for one of my application is not being captured. Below are the version details.

Central collector version 0.11.1, built 2018-10-01 23:15:02 +0000
Agent version 0.11.1, built 2018-10-01 23:15:02 +0000

Weblogic: 10.3.2
java: 1.6.0_17

weblogic.work.ExecuteThread.run(ExecuteThread.java:173)
weblogic.work.ExecuteThread.execute(ExecuteThread.java:201)

[2018-11-22 12:33] gaeljw opened #481 "Solr support"
Hello,

After discovering glowroot yesterday, I wanted to immediately give it a try and use it on one of our critical application which is a Solr instance but I was a bit disappointed to not see anything in the profile/trace.

See screenshot:
![2018-11-22_13-30](https://user-images.githubusercontent.com/18280708/48903146-ffbf6200-ee5a-11e8-80d5-46a869c36aab.png)

Do you think there is something to

[2018-11-22 12:38] dhanunjay8 opened #482 "Weblogic 12c issue with Glowroot"
<Nov 22, 2018 6:57:27 AM EST> <Critical> <WebLogicServer> <BEA-000386> <Server subsystem failed. Reason: A MultiException has 2 exceptions.  They are:
1. java.lang.VerifyError: Instruction type does not match stack map
Exception Details:
  Location:
    weblogic/net/http/HttpURLConnection.getOutputStream()Ljava/io/OutputStream; @70: aload_0
  Reason:
    Type 'org/glowroot/agent/plugin/httpclient/

[2018-11-23 15:10] willsilvano commented on #411
Hi @trask ! That's is a very nice feature! Today we need custom alert's message, but if it was based on error messages would be better.

[2018-11-25 23:52] verglor opened #483 "Certificates reloading"
Does glowroot autoreload `grpc-cert.pem` and `grpc-key.pem` when they change ?
I have setup auto renewing let's encrypt certificates and would like glowroot to automatically pick them.
It would be enough if it reload them once a day without watching file changes.

[2018-11-26 18:35] DenysLP opened #484 "Displaying Password"
Hi,

I have the following problem, in JVM the pool of a datasource is displaying the password, and this would not happen, it should hide as the demo shows.

[2018-11-27 04:32] trask commented on #471
Hi @jluna754, are you still facing this issue?  Can you send me `/var/tmp/glowroot-weaving-error-MDListener.class` from your most recent try above?  Thanks.

[2018-11-27 04:35] trask commented on #472
Closing, but please re-open if you still have any questions. Thanks.

[2018-11-27 04:35] #472 closed

[2018-11-27 04:38] trask commented on #415
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-11-27 04:39] trask commented on #419
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-11-27 04:39] #419 closed

[2018-11-27 04:40] trask commented on #464
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2018-11-27 04:40] #464 closed

[2018-11-27 07:43] gaeljw commented on #481
If I look at a call stack with VisualVM I get much more methods like on this screenshot (not the exact same call):
![screenshot from 2018-11-27 08-34-04](https://user-images.githubusercontent.com/18280708/49065886-a7ec7680-f21f-11e8-8f3b-8016a36d6e40.png)

I was hoping to see pretty much the same thing in Glowroot.

Again, maybe I'm not using Glowroot the right way. If I add some classes to watch

[2018-11-27 18:51] trask commented on #481
Hi @gaeljw, you can click on the profile entries to expand them and see the whole stack. Also, you can increase the number of profile samples by decreasing "Profiling interval" under Configuration > Transactions. Let me know if this is what you are looking for. Thanks.

[2018-11-27 21:31] jluna754 commented on #471
Hi @trask, sorry but I cannot access to this file.

[2018-11-27 21:31] #471 closed

[2018-11-27 21:32] jluna754 commented on #471
I close this case because I migrate platform.

[2018-11-27 21:34] jluna754 opened #485 "ERROR ORACLE SOA"
Hi @trask I try to deploy the APM on Oracle SOA/WEBLOGIC 12 over JDK 1.8 (IBM) and I got this error:

2018-11-27 15:24:39.350 INFO  org.glowroot - Glowroot version: 0.12.2, built 2018-11-09 00:50:19 +0000
2018-11-27 15:24:39.365 INFO  org.glowroot - Java version: 1.8.0_144
2018-11-27 15:24:39.385 ERROR org.glowroot - Glowroot not started: org.glowroot.agent.embedded.init.EmbeddedGlowrootAgentInitF

[2018-11-27 22:13] #484 closed

[2018-11-27 22:13] #482 closed

[2018-11-27 23:18] trask commented on #484
Hi @DenysLP, thanks for posting! This should be addressed now in the latest snapshot releases [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT) and [glowroot-central-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=

[2018-11-28 04:16] trask commented on #483
Hi @verglor, thanks for posting! These are not reloaded currently. What is the downside for you of restarting the central collector to pick up the new cert? Thanks.

[2018-11-28 04:47] trask commented on #482
Hi @dhanunjay8, thanks for reporting this! It should be fixed now in the latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT).

[2018-11-28 04:49] trask commented on #485
Hi @jluna754, thanks for posting! Can you try with the latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT) and see if you get the same issue?

[2018-11-28 04:51] trask commented on #480
Hi @Sohailjp, thanks for posting! Can you try with the latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT) and see if you get the same issue?

Also, I'm unsure what the stack trace above is? Did it get cut off when posting? Can you post the full g

[2018-11-28 07:17] Sohailjp commented on #480
Hello @trask ,

I checked the logs, before upgrading the agent it is giving the below warning.

2018-11-27 23:58:45.106 WARN  o.g.agent.central.CentralConnection - not sending data to the central collector because pending request limit (100) exceeded (this warning will be logged at most once a minute, 12 warnings were suppressed since it was last logged)
2018-11-27 23:59:45.223 WARN  o.g.agent.cen

[2018-11-28 21:12] verglor commented on #483
It's not very convenient workaround. I would need another docker container (with access to docker daemon) to periodically kill glowroot container. Also there will be a short outage. It's doable - just not very nice - it would be much more pleasant if glowroot could handle it by itself without restart. I assume it is a common case to use auto-renewing (let's encrypt) certificates for glowroot.

[2018-11-29 07:49] trask commented on #480
Hi @Sohailjp, I believe `Plugin property captureRequestHeaders has incorrect type: SVAL` means your central collector is still on an older version.

[2018-11-29 11:08] Sohailjp commented on #480
Hello @trask,

I have upgraded the central controller to 0.12.2 as I couldn't find the 0.12.3 version.

Now I am getting the below message in the agent logs

Agent1
==================================================

2018-11-29 12:14:46.737 INFO  org.glowroot - connected to the central collector http://XXXXXXXXXXXXXXXXXXXX, version 0.12.2, built 2018-11-09 00:50:19 +0000
2018-11-29 12:14:46.741 WA

[2018-11-29 18:40] #483 closed

[2018-11-29 18:53] verglor commented on #483
Great, thank you very much @trask !
That was really fast. 👍

[2018-11-29 19:03] trask commented on #483
👍 Try out the latest snapshot release when you have a chance [glowroot-central-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.12.3-SNAPSHOT). It should reload the grpc cert 5 seconds after it is updated and log an INFO message to let you know it was reloaded (the 5 second delay is to handle cas

[2018-11-29 21:57] jluna754 commented on #485
Hi @trask

I deploy this version but I have this error:

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/logs/glowroot/glowroot.jar!/org/glowroot/agent/shaded/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/logs/glowroot/glowroot.jar!/org/glowroot/agent/shaded/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org

[2018-11-30 02:54] trask commented on #485
Hi @jluna754, can you try with this build https://glowroot.org/issue-485/glowroot-agent-0.12.3-SNAPSHOT-dist.zip and then post the full agent log? I added some additional logging to hopefully get a better idea what's going wrong. Thanks.

[2018-11-30 02:58] trask commented on #480
Hi @Sohailjp, can you download the (new) latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT) and run with the additional JVM arg `-Dglowroot.debug.mainClass=true`, and then post the full agent log? Thanks.

[2018-11-30 23:47] trask commented on #485
Hi @jluna754, it looks like you have `glowroot.jar` on your classpath.  Can you remove it from your classpath and try again?  Thanks.

[2018-12-03 07:20] Ajithkumar-Lakshmikanthan commented on #170
Hi,
I have 3 applications running on my tomcat9 server. I added glowroot to my tomcat by following this article, [Where are my application server's JVM args?](https://github.com/glowroot/glowroot/wiki/Where-are-my-application-server's-JVM-args%3F).

can anyone help me restrict glowroot to use only one application, instead of all three?
I am totally new to glowroot.

Thanks all.

[2018-12-03 21:16] trask commented on #170
Hi @Ajithkumar-Lakshmikanthan, Glowroot does not support this use case (monitoring only specific applications within a given JVM).  Can you expand on why you don't want to monitor all three?  Thanks.

[2018-12-04 06:02] Ajithkumar-Lakshmikanthan commented on #170
Hi @trask, Thank you for the respose. coz the requirment is to monitor only one application(High priority).
The other two application is for internal purpose(Low priority), only 2 people will have access to those two apps.

[2018-12-04 06:09] varunchauhan49 commented on #170
Hi Ajith,

I think we solved this problem.

@Adnaan: Can you suggest.

Regards
Varun Chauhan

On Tue, Dec 4, 2018 at 11:32 AM Ajithkumar-Lakshmikanthan <
notifications@github.com> wrote:

[2018-12-04 15:42] gaeljw commented on #481
I think was I was looking for is the "Profiling interval".
Any method whose execution time is below this interval won't appear in the "profile" section, right?
Still I was expecting to see more things in the "Trace" section.

I have to admit I didn't spend much time on it in the last days, I'll look deeper to better understand the features and how Glowroot works.
Thanks your support @trask ;)

[2018-12-05 23:52] jluna754 commented on #485
Hi @trask, I put the glowroot flag over weblogic web->start server->arguments, I not do that over classpath.

Can you explain me please where I can put the glowroot flag.
Thanks.

[2018-12-06 10:13] pilgrim2go opened #487 "Unexpected message: MESSAGE_NOT_SET"
Hi,

First try Glowroot (central) with spring boot. I got following error

[code]

What is it? is it OK?

Thanks,
Van

[2018-12-06 11:12] pilgrim2go opened #488 "Could not initialize class org.glowroot.agent.weaving.MetaHolder27"
Hi,

I've got following error in my Spring Boot service
[code]

I'm using Java 1.8.0_111
[code]

I don't know the issue. Any help?

Thanks,
Van

[2018-12-06 18:31] trask commented on #487
Hi @pilgrim2go, thanks for posting! That doesn't look familiar to me. Are you getting a lot of those errors? Are the agents connecting and reporting? Do things look good otherwise? Thanks.

[2018-12-06 18:44] trask commented on #488
Hi @pilgrim2go, what version of spring boot? Can you post the agent log? Thanks.

[2018-12-06 19:09] trask commented on #480
Hi @Sohailjp, can you download the (new again) latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT), and then post the full agent log? It will now log a bit more info that I'm hoping will help me understand/repro this issue. Thanks.

[2018-12-07 02:35] pilgrim2go commented on #488
@trask thanks for your quick reply.

Here are my libs info
[code]
and agent logs
[code]

[2018-12-07 02:37] pilgrim2go commented on #487
Hi @trask :  I've used wrong version of `glowroot-central`. After getting right version of glowroot. This errors seem gone.
Continue monitoring and updating.

[2018-12-07 02:42] trask commented on #487
👍

[2018-12-07 02:42] #487 closed

[2018-12-07 02:52] trask commented on #488
Is there any other error right before/after the `java.lang.NoClassDefFoundError`?  Thanks.

[2018-12-07 02:56] pilgrim2go commented on #488
ah yes, there is a warning
[code]
I didn't write this Java service so not sure what it is. To check with Dev team to remove the `warn`.

[2018-12-07 02:56] trask commented on #488
Are there any `ClassNotFoundException` or ExceptionInInitializerError` anywhere beforehand? Thanks.

[2018-12-07 03:10] pilgrim2go commented on #488
Sadly, I haven't found any exceptions like those.

[2018-12-07 03:13] trask commented on #488
Can you download the latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT), and try again, and then post the full agent log? It will now log a bit more info that I'm hoping will help me understand/repro this issue. Thanks.

[2018-12-07 03:30] pilgrim2go commented on #488
Thanks @trask
Here is the latest log
[code]

[2018-12-07 10:58] lfen21 opened #489 "trace from 7 days or more"
Hi,

When i try to show all traces for the last 7 days , i have an erreur

An error occurred
Cassandra failure during read query at consistency QUORUM (1 responses were required but only 0 replica responded, 1 failed)
show stack trace

I have to do some tuning on cassandra  ?

Thanks

 Glowroot version 0.10.11, built 2018-06-13 20:20:19 +0000

[2018-12-07 11:54] ionutursuleanu opened #490 "Modal window close button is not fixed anymore"
Hi @trask ,

After a certain version the scrolling behaviour has changed for the modal windows (slow trace, for example). On 0.10.11 the scrolling is applied to the modal itself and the close button is always visible. On 0.12.2 the scrolling is applied to the browser page and the whole modal window slides

<img width="1392" alt="screenshot 2018-12-07 at 13 46 29" src="https://user-images.githubuse

[2018-12-07 12:02] ionutursuleanu opened #491 "Trace entry copy button not displayed"
Hi,

For some trace entries (all text has enough space in preview, it seems) the copy button is not displayed after selecting it.

<img width="1392" alt="screenshot 2018-12-07 at 13 55 45" src="https://user-images.githubusercontent.com/6136404/49646497-e8ba6b80-fa27-11e8-9147-a495eadc6a4b.png">

[2018-12-11 06:16] trask commented on #449
More improvements done in 663072ab58d7354650aec02aaec9b28f5369e52c

[2018-12-11 06:30] trask commented on #490
Hi @ionutursuleanu, thanks for posting! The new behavior is the default for modals in Bootstrap, e.g. https://getbootstrap.com/docs/4.1/components/modal/#scrolling-long-content. I agree I like the previous look better, but there were edge cases previously (e.g. #359), and I found it worked better when I changed it to follow the Bootstrap default behavior (I think they know reasons to do it this wa

[2018-12-11 06:32] trask commented on #488
Hi @pilgrim2go, can you download the (new) latest snapshot release [glowroot-agent-0.12.3-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.12.3-SNAPSHOT), and try again, and then post the full agent log (again)? I added a try/catch to hopefully log the underlying exception. Thanks.

[2018-12-11 07:23] ionutursuleanu commented on #490
Thank you for the explanations @trask

[2018-12-11 10:08] pilgrim2go commented on #488
Thanks @trask

Is this one correct?
[code]

[2018-12-11 10:34] pilgrim2go commented on #488
Thanks @trask
You're right that we have `ClassNotFoundException` in the beginning of log. Thanks for your time ( i'd better export container log to file to check ).
The latest agent does show it.

[code]

[2018-12-11 19:53] trask commented on #488
Great, can you download this build https://glowroot.org/issue-488/glowroot-agent-0.12.3-SNAPSHOT-dist.zip, and repro again?

This build will write out the generated `MetaHolder` class bytes, and it will log INFO messages where they are written.

Then can you email me the `MetaHolder27.class` file that is written out (the one that is having the `<clinit>` problem)?  My email address is on my github

[2018-12-12 14:12] ghost opened #492 "OpenAPM landscape-model missing"
please add yourself to the landscape-model repo of OpenAPM on github:

https://openapm.io/
-->
https://github.com/openapm/landscape-model/issues/33
-->
https://github.com/openapm/landscape-model/blob/master/CONTRIBUTE.md
-->
https://github.com/openapm/landscape-model/tree/master/model/components

[2018-12-13 07:43] pilgrim2go commented on #488
Check your inbox

[2018-12-13 21:42] phax opened #493 "Startup issue on Tomcat 8/Java 8/CentOS"
Hi,
I have issues running that it inside Tomcat with Java 8 on CentOS.
Tomcat startup says:
[code]
That file exists and is valid. When I launch ` java -jar glowroot.jar` it gives me
[code]

That's what I do...
The directory has recursively full rights (777) and the log file was created when launching it standalone.
`logs/glowroot.2018-12-13.log` exists and contains the "how to statements".

`uname

[2018-12-14 06:00] trask commented on #493
Hi @phax, thanks for posting! Try putting the glowroot directory somewhere else besides `/root`. The permissions on the `/root` directory typically only let `root` user see anything inside of it.

[2018-12-14 09:21] phax commented on #493
Thanks @trask - that did the trick. So no more `/root` :)

[2018-12-14 09:21] #493 closed

[2018-12-14 18:53] trask commented on #493
👍

[2018-12-14 18:58] chiragsindhwani opened #494 "Glowroot setup for jboss/Apache"
I am trying to configure glowroot for the application deployed on jboss (lunux). I have placed the glowroot JAR on the linux server directory. And added following to the JVM Args for the Service inside domain.xml.

<option value="-javaagent:/opt/app/jboss/jboss-eap-6.4/modules/com/<appName>/tools/glowroot/glowroot.jar"/>

Also restarted the jboss instance on the server. However when i am trying ac

[2018-12-14 19:04] trask commented on #494
Hi @chiragsindhwani, thanks for posting! The default bind port is `127.0.0.1` which is not accessible from other machines. Check the glowroot agent log file, it should log a message about this and how to resolve.

[2018-12-14 23:42] trask commented on #494
Can you see if there are any other JVM processes running with the glowroot agent? E.g. `ps -ef | grep glowroot`

[2018-12-18 13:47] mayankjain9005 opened #495 "Not getting trace in thread profile"
Not able to  get class and methods details in thread profile tab. Even the class and methods are getting called with respect to request mapping. we are able to get query details related in query tab but the related classes and methods are not coming in thread profile trace.
PFA the attached screenshot for the same.

Please revert asap.

![1 png](https://user-images.githubusercontent.com/19286983/5

[2018-12-19 12:19] vijaynet10 commented on #356
Hi i have completed below steps
1.Download and unzip glowroot-0.12.3-dist.zip
2.Add -javaagent:path/to/glowroot.jar to your application's JVM args [where are my application server's JVM args?]
3.Check that the user account that runs the JVM has write access to the glowroot folder
4.Start your application

but i cant start the application.please help me to configure

[2018-12-19 12:20] vijaynet10 opened #496 "Hi i have completed below steps, but i cant start the application"
1.Download and unzip glowroot-0.12.3-dist.zip
2.Add -javaagent:path/to/glowroot.jar to your application's JVM args [where are my application server's JVM args?]
3.Check that the user account that runs the JVM has write access to the glowroot folder
4.Start your application

but i cant start the application.please help me to configure

_Originally posted by @vijaynet10 in https://github.com/glowroo

[2018-12-19 19:16] Niks1820 commented on #496
Hi Vijay,
You are not able to start the application, is it related to your own application or glowroot. If you can share the server logs it would be more clear.

[2018-12-19 21:04] arunavijay opened #497 "Glowroot deployment and usage in production"
Hi,

I have been using Glowroot in my performance environment for a while now and I'm finding it very helpful. As a next step, I would like to have it installed in our production environment.
Would like to know if anyone has tried this out in production and how successful has the experience been. Looking for inputs from people who have Glowroot deployed in their production environment.

Thanks in

[2018-12-20 00:36] arunavijay opened #498 "Some questions about Glowroot"
Hi,

I have some questions regarding the Glowroot features.
1) Plugin: Could you please explain what plugins are intended for and how can I use them? Some documentation around plugins would be great too.
2) Is it possible to test asynchronous requests using Glowroot?

[2018-12-20 01:41] Niks1820 commented on #477
To clarify :
is your application deployed as separate static files on some webserver or is it a part of application deployed on app server, because javascript functions will work in client side machines and hence will not generate load on the app / web servers.

[2018-12-20 02:04] trask commented on #495
Hi @mayankjain9005, thanks for posting! Try reducing the `Profiling interval` (under Configuration > Transactions). The default is to sample stack traces only once per second.

[2018-12-20 02:10] trask commented on #498
Hi @arunavijay, thanks for posting!

1. Plugins provide instrumentation for different frameworks.
2. Yes, asynchronous requests are supported, e.g. Async Servlets and Netty.

[2018-12-20 08:53] Owenong opened #499 "How to use org.glowroot.agent.api.Glowroot to modify a spring controller transaction name?"
Hi,

In my application, I would like to modify the transaction name to have a prefix (for my multi-tenancy application). I am using Glowroot.setTransactionName in my controller but it seems no effect. May I know what is the correct way to use this API or how can I add a prefix to all the transactions name? Thanks.

[2018-12-20 23:19] ReillyProcentive commented on #449
I'm not seeing a real improvement in performance since updating our central server from `0.10.12+the previous patch` to `0.12.3`. CPU usage is about the same as it was before the update. We might not be noticing the improvement though given that we are no longer bottlenecked.

[2018-12-20 23:20] ReillyProcentive commented on #442
Hi @trask, we just updated our agents and can confirm that the new flag is working as expected (and it is perfect for our use-case, thanks!).

[2018-12-21 05:49] trask commented on #442
👍

[2018-12-21 05:56] trask commented on #490
Re-opening, looking at ways to get the close icon to stay visible within the new structure.

[2018-12-21 11:11] vijaynet10 commented on #496
i am not able to run the glow root. and the server log is
"2018-12-19 16:06:59.848 INFO  org.glowroot - To run Glowroot, you need to add "-javaagent:/opt/apache-tomcat/glowroot/glowroot.jar" to your application's JVM args"

[2018-12-24 13:53] vijaynet10 commented on #496
any update @Niks1820

[2018-12-24 18:43] Niks1820 commented on #496
Download the glowroot jar and place it on your server on the above path. Now if it is a web based ear or microservice jar you will need to pass the javaagent argument in the script file by which you start the server.

[2018-12-27 02:48] Owenong commented on #499
Realized that I have to use "provided" scope to include dependency.

[2018-12-30 00:58] vguna opened #500 "Roll up transaction names too high level"
I'm using Glowroot 0.12.3 with the central collector and using a roll up agent id to group multiple instances of the same app in a docker swarm cluster. It basically works and I can see transactions in the Glowroot UI of the central collector. It's a JAX-RS REST service using Jersey and Spring as a CDI container under the hood.

But instead of the expected REST endpoints that get called like

[cod

[2018-12-31 03:09] trask commented on #496
Hi @vijaynet10,

I think the message you got:

`2018-12-19 16:06:59.848 INFO org.glowroot - To run Glowroot, you need to add "-javaagent:/opt/apache-tomcat/glowroot/glowroot.jar" to your application's JVM args`

means that you tried to run using `java -jar path/to/glowroot.jar ...`, instead of `java -javaagent:path/to/glowroot.jar -jar ...`

If you are still having issues, can you post the exact c

[2018-12-31 22:36] #498 closed

[2018-12-31 22:40] trask commented on #480
Closing, but please re-open if you are still facing this issue. Thanks.

[2018-12-31 22:40] #480 closed

[2018-12-31 22:40] #481 closed

[2018-12-31 22:56] trask commented on #499
Hi @Owenong, thanks for reporting this! I'm re-opening it, because it *should* work the way you originally expected it to (and shouldn't work the way it actually *does* work).

I want it to work when the agent-api is bundled with your application, so that your application will work whether or not the glowroot agent is actually running (the agent-api should default to no-op when the agent is not ac

[2019-01-01 19:32] #488 closed

[2019-01-01 19:32] #490 closed

[2019-01-01 19:32] #499 closed

[2019-01-02 03:09] trask commented on #499
Hi @Owenong, this should be fixed now in the latest snapshot release [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT).

[2019-01-02 03:09] trask commented on #488
Hi @pilgrim2go, this should be fixed now in the latest snapshot release [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT).

[2019-01-02 09:46] Cacodaimon opened #501 "How do display the Exception message in the "errors view""
Hello,

I am using Glowroot with some WIldfly 10 - 14 Server for a week now.

The error report view (http://localhost:4000/error/messages?transaction-type=Background) shows only "Caught Exception", "Caught IOException"  (Only the parent exception is displayed here?) or messages like this one "WFLYEJB0034: EJB Invocation failed on component %s for method %s" in the error table below the graph.

How

[2019-01-02 17:53] trask commented on #485
Hi @jluna754, sorry for the late reply, I'm not sure what could be wrong here, I'm wondering if this issue only happens on IBM JVM on AIX, do you have another platform you can try it out on? That would help me troubleshoot. Thanks.

[2019-01-02 17:57] trask commented on #497
Hi @arunavijay, I'm using it in production and it is very useful for me :-).

[2019-01-02 22:21] gamefundas commented on #416
@trask does the latest spring plugin support Scheduled annotation? I see that master doesnt have the instrumentation for @Scheduled.

Can open a new issue if I am not mistaken about the support.

[2019-01-02 22:35] gamefundas opened #502 "@Scheduled jobs in Spring 5 not appearing in transaction view"
According to #416 support for @Scheduled was added to spring plugin but I cant seem to find in the latest version of Glowroot.

Also adding the following didn't work for me. No errors in glowroot logs. config.json shows the instrumentation configuration appended at the end of the file.

`
{
      "className": "",
      "classAnnotation": "org.springframework.stereotype.Component",
      "methodNam

[2019-01-03 00:33] trask commented on #502
Hi @gamefundas, thanks for posting! It looks like I never added this to glowroot.

I will correct this, but first let's figure out why the above instrumentation isn't working for you.

Can you confirm that your class is annotated with @org.springframework.stereotype.Component and that your method (in that class) is annotated with @org.springframework.scheduling.annotation.Scheduled?

And also just

[2019-01-03 02:07] trask commented on #489
Hi @lfen21, sorry for the late reply, are you still having this issue? Does it happen all the time? Can you include the stack trace? Thanks.

[2019-01-03 02:13] trask commented on #477
Hi @impradee2008, are you asking about monitoring browser behavior (e.g. End User Monitoring / Real User Monitoring)? Currently Glowroot only monitors server side behavior.

[2019-01-03 02:17] trask commented on #500
Hi @vguna, thanks for reporting this! I think you are right that the problem is due to the annotations being on the interfaces (I didn't realize you could do that!). I will fix.

[2019-01-03 02:18] #495 closed

[2019-01-03 02:19] trask commented on #495
Closing, but please re-open if you are still facing this issue. Thanks.

[2019-01-03 02:42] gamefundas opened #503 "[New Feature] Publish Glowroot metrics to Statsd"
I remember reading about #279 (supporting different backends for Glowroot other than Cassandra) sometime back and the complexity involved.

But was wondering at the same time if publishing the metrics to StatsD via simple metrics writer can make things easy as this will allow Glowroot to talk to Telegraf/Netdata agent (via its StatsD listener), which in turn can persist in InfluxDB and enable user

[2019-01-03 02:53] trask commented on #503
Hi @gamefundas, pushing metrics out to other systems makes sense to me.

Are you using the embedded collector (and want to push directly from the agents), or using the central collector (and want to push from the central collector)?

[2019-01-03 02:58] trask commented on #389
Hi @thiagomdiniz, sorry (again) for the late reply, are you looking for something like #469 (but for Zabbix)?

[2019-01-03 03:01] gamefundas commented on #503
Pushing from the local agents would work as we have Telegraf/Netdata agents running on all application hosts with metrics streamed to their respective central collectors/storage.

[2019-01-03 03:04] impradee2008 commented on #477
That’s rite! I was looking for End user monitoring/real user monitoring.
Something similar to Browser RUM Add-on which is part of AppDynamics.

On Wed, Jan 2, 2019 at 20:13 Trask Stalnaker <notifications@github.com>
wrote:

--
Security Policy - Action, even if imperfect, is better than inaction

[2019-01-03 04:49] trask commented on #502
Hi @gamefundas, this should be available now in the latest snapshot release [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT).

[2019-01-03 04:51] trask commented on #438
Hi @risrikanth, individual agent level is available now in the latest snapshot releases [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT) and [glowroot-central-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.gl

[2019-01-03 04:52] trask commented on #438
Re-opening because I forgot about disabling/enabling at global level.

[2019-01-03 15:36] vguna commented on #500
This is great news - thanks for taking your time looking into this!

[2019-01-03 16:26] gamefundas opened #504 "[Enhancement] Tooltip with performance breakdown in Slow traces graph"
Very similar to the response time graph (showing the breakdown) the slow trace graph can show a tooltip on hover to provide a breakdown of main thread. Currently we have to click on each dot to open up the detail dialog and check the reason for slowness.

The tooltip can serve as a peek feature. Hope the graph supports this and its relatively easy to implement.

[2019-01-03 18:41] trask commented on #176
Hi @witrdotnet, thanks for reporting this! The "latest" links are fixed now, and I fixed the release script so they should continue to get updated now.

[2019-01-03 19:05] ionutursuleanu commented on #497
@arunavijay

The embedded collector is just very easy to install and I'm monitoring a few servers...so I didn't find a major reason for using the central collector.

No docker/container for deployment

[2019-01-04 01:40] ReillyProcentive opened #505 "Glowroot Cassandra user needs create on all keyspaces"
Hello, we recently enabled password authentication and RBAC on the Cassandra cluster that is utlized by our Glowroot Central server. Everything seemed to work at first however the next day we noticed that our Glowroot agents were emitting errors about being unable to connect. After investigation the following error was discovered on the central server:

[code]

I'm not sure why Glowroot needs the

[2019-01-04 03:20] Owenong commented on #499
Hi @trask, thanks for the fixes and new build.

[2019-01-04 04:51] gamefundas commented on #502
Tested, works fine. Thx @trask

[2019-01-04 04:51] trask commented on #502
👍

[2019-01-04 16:48] gamefundas opened #506 "Spring Async annotation support"
#90 seems to indicate this was added to spring plugin but I see that it isn't working in my case.
Any chance this was added only to support Spring controller as Async applies to @Service, @Component, @RestController classess as well.

[2019-01-05 13:45] vguna commented on #503
That sounds like a great idea! Especially having the need for a Cassandra instance, taking 1,4 GB memory or so  "just" for monitoring, will maybe scare some people off who already having monitoring tools in place like Prometheus or an InfluxDB, ready to be re-used for Glowroot.

[2019-01-07 01:07] #505 closed

[2019-01-07 01:14] trask commented on #506
Hi @gamefundas, the existing support mentioned is for `@Controller` and `@RestController` that return either `Callable` or `DeferredResult`, e.g.

[code]

Can you provide more details what your code looks like that you want to capture?

Thanks,
Trask

[2019-01-07 03:00] trask commented on #506
Are you calling the `@Async` methods from inside of a Servlet request (or something Glowroot is already capturing)?

[2019-01-07 03:03] gamefundas commented on #506
Glowroot captures till the point the @Async annotated method is invoked. Beyond that there is no tracing.
For instance my controller endpoint appears and then the controller is invoking a @Service class method (@Async annotation on it). I see the controller method in the trace and then beyond that nothing. No reference of the service method.

[2019-01-07 09:22] Cacodaimon commented on #501
@trask

Thanks for the quick response can you provide me a link for the glowroot "agent" jar I am not using the central version right now.

I tried building the agent by my self via `mvn clean install` but it fails:

[code]

[2019-01-07 11:34] DenysLP opened #508 "Heap Memory Java"
How to limit a java heap start and end memory?

[2019-01-07 11:37] DenysLP commented on #508
I solved Building the container.

[2019-01-07 11:37] #508 closed

[2019-01-07 13:12] DenysLP opened #509 "Cached Memory"
Hi,

Glowroot collector is consuming enough cache memory.
any parameter that limits this consumption?

thankful,

[2019-01-07 18:41] trask commented on #509
Hi @DenysLP, thanks for posting! Can you provide some more details? Can you tell which caches are taking up too much memory? Any chance you can take a heap dump and upload so I can have a look?

https://www.dropbox.com/request/l5oO3bu0sfmkQ3nhFYCH

Thanks,
Trask

[2019-01-07 18:44] trask commented on #501
Oops! I gave you the link for the central collector snapshot.  Here's the link for the agent snapshot [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT).

[2019-01-07 22:07] ReillyProcentive commented on #505
Yep, that fixed it. Thanks!

[2019-01-07 22:52] trask commented on #505
👍

[2019-01-08 00:14] trask commented on #506
Thanks for the details, I think I understand, I'll try it out.

[2019-01-08 00:45] vguna opened #510 "admin.json with central collector"
I'm currently trying to auto-setup glowroot using the docker central collector. I thought I could do it with providing a `admin.json` like with the embedded variant, putting it next to `glowroot-central.jar`. But this doesn't seem to be picked up (?). Is this supported? Or how could I auto-setup e.g. username/password for the UI on the central collector?

[2019-01-08 00:56] trask commented on #510
Hi @vguna, thanks for posting! This was not documented, so I just added it to wiki https://github.com/glowroot/glowroot/wiki/Central-Collector-Installation:

[2019-01-08 03:46] #474 closed

[2019-01-08 04:11] trask commented on #474
Thanks for the PR! I merged it and the feature should be available now in the latest snapshot release [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT).

[2019-01-08 10:50] vguna commented on #510
Hey, thanks for adding it to the docs!

But that probably means, I have to extend the origin docker image to now make two calls of the jar, right? First time to set the credentials (I guess the jar exits after that?) and second time for the actual service start. Maybe one has to set also some kind of flag, to know not having to do the first credentials set everytime. It would be nice if those cred

[2019-01-08 11:13] DenysLP commented on #509
Hi

Server is a rhel7 with 8vCpu's and 16GB of RAM.

When the 2 containers are raised, the memory consumption starts in less than 30s, swapping what is available.

I saw that it is the cassandra container, which is receiving many requests.

Are there any configures or improvements to the performance of this container?

Thankful,

[2019-01-10 13:13] Skyzoninfotech opened #511 "Error while registering Oracle JDBC Diagnosability MBean"
I have configured glowtroot agent for our payara (glassfish) instance, when i restarted the instance, i am getting below error
  Error while registering Oracle JDBC Diagnosability MBean.
java.lang.ExceptionInInitializerError
	at java.lang.management.ManagementFactory.getPlatformMBeanServer(ManagementFactory.java:500)
	at oracle.jdbc.driver.OracleDriver.registerMBeans(OracleDriver.java:322)
	at ora

[2019-01-10 17:35] darren-henderson opened #512 "navbar issue"
Upgraded from 0.10.10 to 0.12.3

On the current version of chorme ( 71.0.3578.98 ), IE 11, and Edge the navbar takes up most of the screen hight. The text is valigned and the correct size but the brownish container takes up most of the screen. Can't see anything but the navbar without scrolling down.  The navbar returns to the proper size if you narrow the browser down to about 765 pixels.

Works

[2019-01-10 18:47] trask commented on #512
Hi @darren-henderson, thanks for posting! I tried in Chrome (same version), IE 11 and Edge, but I'm not seeing this behavior. Do you see the same behavior when you go to https://demo.glowroot.org?

[2019-01-10 18:51] trask commented on #511
Hi @Skyzoninfotech, can you post the glowroot agent log? Thanks.

[2019-01-10 20:08] darren-henderson commented on #512
I don't see the behavior on the demo and I don't see it in previous versions of glowroot.

After some additional testing I have to assume the problem is on my side.

We use an apache webserver to proxy in https connections to localhost and if I bypass that it works as it should. Hard to see how a proxy setup would be responsible for this kind of issue but that's what it looks like.

[2019-01-10 20:15] trask commented on #512
Are you reverse proxying from a non-root context path? e.g. https://webserver/abc ==> http://glowroot:4000?

[2019-01-10 22:07] darren-henderson commented on #512
I am,

https://webserver/gr0/  to http://localhost:4000/

Lightly sanitized version of the proxy config attached. gr0 has the new release, gr1 and gr2 have the older versions and are working fine.

[proxy.txt](https://github.com/glowroot/glowroot/files/2747188/proxy.txt)

[2019-01-10 22:11] trask commented on #512
Are you using the central collector or embedded collector?

[2019-01-10 22:16] trask commented on #512
If using embedded collector, have you set `Context path` to `/gr0` under https://demo.glowroot.org/admin/web (or correspondingly in the `admin.json` file)?

If using central collector, have you set `ui.contextPath=/gr0` inside of the `glowroot-central.properties`?

Thanks,
Traks

[2019-01-11 03:20] gamefundas commented on #506
Hi @trask do you forsee this as a much bigger change to support.

[2019-01-11 03:30] #449 closed

[2019-01-11 04:58] trask commented on #506
Hi @gamefundas, I ran the sample application at https://github.com/spring-guides/gs-async-method/tree/master/complete and the trace picked up the work performed inside of the `@Async` method (see attached trace [trace-20190110-204837-507.zip](https://github.com/glowroot/glowroot/files/2748106/trace-20190110-204837-507.zip)).

(I added transaction instrumentation around `AppRunner.run()` since the

[2019-01-11 04:59] trask commented on #449
I think this is addressed pretty well in the latest snapshot release [glowroot-central-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.0-SNAPSHOT).

In addition to optimizations to make single threaded rollup faster, the central collector also now will add/remove rollup threads automatically

[2019-01-11 05:20] trask commented on #506
One other question, what do you do with the `Future` that is returned from the `@Async` method? Or are you using the `@Async` method as fire-and-forget and not using the returned `Future`? The reason I ask is that once the transaction ends, nothing else is captured, so if you fire-and-forget, and then the transaction ends immediately afterwards, then nothing would be captured in the `@Async` metho

[2019-01-11 05:46] gamefundas commented on #506
Yes I am using a custom executor on the application level using the following so that all Async operations gets executed in this custom threadpool

`
@Configuration
@EnableAsync
public class SpringAsyncConfig implements AsyncConfigurer {

    @Override
    public Executor getAsyncExecutor() {
        return new ThreadPoolTaskExecutor();
    }

}
`

As for the other question, yes these are independ

[2019-01-11 06:57] WillWei1983 opened #513 "glowroot cause exception for Bitronix"
After release of 0.9.25, glowroot cause glowroot$getStatementMirror() exception for bitronix when init the datasource.
0.9.24 works well.

[2019-01-11 13:19] #509 closed

[2019-01-11 20:25] darren-henderson commented on #512
That was not set to "gr0", it was set to "/".

Setting it to "gr0" still exhibits the problem and leads to the links being incorrect, (they all contain "/gr0/gr0/") though they continue to work. I believe the reason that it functions either way is down to the "proxyHTMLURLMap / /gr0/"

It feels like something is having problem in non-gecko based browsers determining the screen size when behind the

[2019-01-12 15:46] AditiS06 opened #515 "Standalone/desktop Java applications monitoring with glowroot"
Can we monitor standalone/desktop java applications using glowroot?
If yes, what is the process? and where on glowroot UI can we track the classes and methods details?

[2019-01-12 17:34] Niks1820 commented on #515
How do you start the standalone / desktop java application ? Is the aaplication file type .jar or some other ?

[2019-01-12 17:38] Niks1820 commented on #503
I have used both central collector and embedded collector and have both the setups in my development environment with cassandra. But there are other monitoring tools being used in production with Graphite ( carbon whisper ) where data is being sent using statsd. We also have prometheus database for cloud monitoring.

So, if statsd - graphite / prometheus works that will make this application a sup

[2019-01-13 05:40] Niks1820 commented on #515
Hye, the UI opens by default at http://localhost:4000 and if you have not mentioned the agent name then on the transactions the names will appear, else if you have given the agent id name then you need to change the drop downs. Also you might need to refresh the screen to see the transaction data.

[2019-01-13 05:51] AditiS06 commented on #515
Hey,I don't see any data under transactions -> Web for the custom date range for my standalone application.

[2019-01-13 06:00] Niks1820 commented on #515
The data will appear :
in startup drop down screen when there is some transaction for starting the application
in web drop down screen when your application calls some method or completes a transaction.
You can customize the transaction display / error displays and other UI displays by updating the config json by going into the settings and updating the values there.

[2019-01-13 21:15] trask commented on #511
Hi @Skyzoninfotech, I tried latest Payara 5.184 Full install and could not reproduce that error, though I think the Glowroot wiki was wrong about how to add `-javaagent:path/to/glowroot.jar` to Payara, so I have updated it, see https://github.com/glowroot/glowroot/wiki/Where-are-my-application-server's-JVM-args%3F#payara-5

If you are still having issues, can you post (or email to me) your full Pa

[2019-01-13 21:16] #512 closed

[2019-01-13 21:57] trask commented on #512
Hi @darren-henderson, I tried the same proxy setup and ran into the same bizzare navbar issue! I was able to fix the css so it should work now in the latest snapshot release [glowroot-agent-0.13.0-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.0-SNAPSHOT).

Also, I remembered how the `Administration

[2019-01-13 23:18] trask commented on #513
Hi @WillWei1983, thanks for posting! I tried to reproduce the error using `spring-boot-sample-jta-bitronix` (which uses bitronix btm 2.1.4) at https://github.com/spring-projects/spring-boot/blob/v2.1.2.RELEASE/spring-boot-samples/spring-boot-sample-jta-bitronix/src/main/java/sample/bitronix/SampleBitronixApplication.java, but did not get any error.

What version of bitronix btm are you using? What

[2019-01-13 23:32] trask commented on #515
Hi @AditiS06, if your standalone application is handling servlet requests (e.g. a spring boot application), then Glowroot will capture these under Web. If your standalone application is running quartz jobs or spring batch jobs (or something else Glowroot knows about already) then it will capture these under Background.

If your application is doing something else, you will need to add at least one

[2019-01-14 00:08] trask commented on #506
Yes, this makes sense, you can create instrumentation (under UI > Configuration > Instrumentation) on those methods and use `What to capture` value of `Transaction` and then `What to do if already in a transaction` value of `Capture a new transaction` (see also #396).

[2019-01-14 00:11] trask commented on #496
Closing, but please re-open if you are still facing this issue. Thanks.

[2019-01-14 00:11] #496 closed

[2019-01-14 00:13] trask commented on #494
Closing, but please re-open if you are still facing this issue. Thanks.

[2019-01-14 00:13] #494 closed

[2019-01-14 09:07] AditiS06 commented on #515
Thanks Trask, using instrumentation I can see class and method details are getting captured under Transactions -> Startup.
I have one last question, is it possible to instrument all the classes of the desktop application in one go? Currently what I have done is, I have created different instrumentations per java class depending on the functionality (Application is not spring boot/quartz jobs/sprin

[2019-01-15 05:04] trask commented on #515
Hi @AditiS06, you can use wildcards when defining the instrumentation, but instrumenting too many classes/methods can impact performance, so I suggest isolating the classes/methods that handle your application's "transactions". Can you give high level what a "transaction/request/job" means in your application that you want to capture? Do you use any frameworks that listen for requests/jobs and cal

[2019-01-16 04:50] #501 closed

[2019-01-16 05:12] trask commented on #501
Hi @Cacodaimon, I think this should work now in the latest snapshot release [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT).

[2019-01-16 05:19] trask commented on #510
Hi @vguna, in the latest snapshot release [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.1-SNAPSHOT), you can now place an `admin-default.json` file in the glowroot-central directory and it will be imported on the first startup. Check out the help text at the bottom of UI >

[2019-01-16 12:05] vghero commented on #510
Wow nice! Thanks! I'll give it a try and report back.

[2019-01-16 12:06] vguna commented on #510
Wow nice! Thanks! I'll give it a try and report back.

[2019-01-16 12:44] AditiS06 commented on #515
Hi Trask, So my application is core java application, the UI is developed using swing technology. The tool creates/updates and deletes the test cases, configure database connection details, file details inside the test cases and finally execute the test cases.
     With transaction, I mean functionality. E.g: Create test case is one functionality which I am triggering on Swing UI, so first, main m

[2019-01-16 17:17] Cacodaimon commented on #501
@trask

Thank you! This release makes working with Glowroot much easier!

[2019-01-16 20:49] trask commented on #501
👍

[2019-01-17 17:05] #491 closed

[2019-01-17 17:32] trask commented on #491
Hi @ionutursuleanu, thanks for posting! This is available now in the latest snapshot releases [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT) and [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=

[2019-01-18 14:38] gamefundas commented on #506
Any way this can be done through the Agent API? I tried using the @Instrumentation annotation but it didn't work.

[2019-01-18 18:32] trask commented on #506
Hi @gamefundas, can you post the `@Instrumentation` annotation (with the attributes) that you tried? Thanks.

[2019-01-21 03:53] trask commented on #489
Closing, but please re-open if you are still facing this issue. Thanks.

[2019-01-21 03:53] #489 closed

[2019-01-21 03:53] trask commented on #485
Closing, but please re-open if you are still facing this issue. Thanks.

[2019-01-21 03:53] #485 closed

[2019-01-21 03:54] trask commented on #497
Closing, but please re-open if you still want to discuss. Thanks.

[2019-01-21 03:54] #497 closed

[2019-01-21 04:39] trask commented on #515
Hi @AditiS06, is there a common (or set of common) callback interfaces, e.g. `ActionListener`, that could be instrumented?

[2019-01-21 04:48] AditiS06 commented on #515
Yes, can you give an example of ActionListener instrumentation?

On Mon 21 Jan, 2019, 10:09 AM Trask Stalnaker <notifications@github.com
wrote:

[2019-01-21 04:57] trask commented on #515
Try importing this under UI > Configuration > Instrumentation:

[code]

[2019-01-21 06:39] #511 closed

[2019-01-21 07:40] WillWei1983 commented on #513
Hi @trask , Thanks for your reply, I am using the latest version The BTM 3.0 of custome build from btm's source https://github.com/bitronix/btm

[2019-01-21 10:14] AditiS06 commented on #515
Thanks Trask it worked for few of the transactions but not for all.
I have done following settings to capture transactions: Can't we capture the transactions, which took **less than 1 milliseconds?**

![transaction_configuration](https://user-images.githubusercontent.com/46598865/51467702-33533580-1d93-11e9-9b59-7d9e01a721b2.JPG)

[2019-01-21 12:01] trask commented on #515
Slow threshold can be set to 0

On Mon, Jan 21, 2019 at 2:14 AM AditiS06 <notifications@github.com> wrote:

[2019-01-21 19:39] trask commented on #500
Hi @vguna, thanks again for reporting this! It should be fixed now in the latest snapshot release [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.1-SNAPSHOT).

[2019-01-21 19:39] trask commented on #511
Hi @Skyzoninfotech, I ran into the `java.lang.RuntimeException: Bytecode service retrieved too early` error also. It should be fixed now in the latest snapshot release [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.1-SNAPSHOT).

[2019-01-21 19:45] trask commented on #515
Hi @AditiS06, I think you are talking about `Profiling interval`?

When you set `Slow threshold` to `0`, it will capture traces under the `Slow traces` tab for all transactions.

When you open those traces, the `Thread Profile` section at the bottom of those traces is what is controlled by the `Profiling interval`.

Why do you want to see `Thread profile` for traces < 1 millisecond? The sampling i

[2019-01-21 20:03] trask commented on #389
Hi @thiagomdiniz, I have Zabbix running locally, and mostly understand this now.  For the `value`, should Glowroot send `1` when the alert opens, and `0` when the alert closes?

[2019-01-22 02:58] WillWei1983 commented on #513
I have also tested in the btm2.1.4, it works well with any version of the glowroot, but the btm3.0 is not since the 0.9.25.

[2019-01-22 05:03] gagaboy commented on #513
the same error with btm branch 2.2.0 and  master(3.0.0-SNAPSHOT)

[2019-01-22 05:07] trask commented on #513
Thanks! I was able to repro today using btm 3.0.0-SNAPSHOT. I have a local fix, will push to master (and update this issue) in the next day or two.

[2019-01-24 04:18] #513 closed

[2019-01-24 05:04] trask commented on #513
This should be fixed now in the latest snapshot release [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT).

[2019-01-24 10:32] yosaku01 opened #516 "How to configure jdk to glowroot agent"
Now I am running glowroot agent for one spring boot application. I have set JAVA_HOME environment variable to JDK 1.8.0_191 directory. But when I want to see Heap histogram feature in glowroot  collector UI, **"This feature is only available when the agent is running in a JDK (currently running in a JRE)."** message shows. Which property should I set in glowroot.properties, then I can use Heap his

[2019-01-24 11:19] gagaboy commented on #513
It works，thx

[2019-01-24 18:49] trask commented on #513
👍

[2019-01-24 23:59] vguna commented on #510
Hey.
I just tested the SNAPSHOT, setting the `password` like described in the admin UI. But it dies with
[code]
Looks like `password` is not supported but only `passwordHash` :)?

[2019-01-25 08:53] yosaku01 commented on #516
Dear @trask, is the glowroot agent and glowroot central supports the openjdk?

[2019-01-28 09:18] yosaku01 opened #517 "Glowroot Central's Collector Address can use nginx reverse proxy?"
I have installed two Glowroot Central  instances and their collector address is http://A:8181,http://B:8181. And I want to use nginx to reverse proxy these two instances' address. Is the two addresses are gprc address?
If yes, how can I configure grpc proxy settings in nginx server?
If no,  when I access the nginx server's proxy address(http://C:7000) and the nginx server return 400 error, need I

[2019-01-28 20:09] trask commented on #516
Hi @yosaku01, yes they both support OpenJDK.

I think you may need to update your `PATH` also, in order to use your JDK installation instead of your JRE installation, e.g.

[code]

or for Windows

[code]

[2019-01-28 20:40] trask commented on #517
Hi @yosaku01, thanks for posting!

Check out https://www.nginx.com/blog/nginx-1-13-10-grpc, I think you want something like:

[code]

[2019-01-28 20:41] trask commented on #500
Hi @vguna, thanks for the example, I had no idea you could do that! Re-opening.

[2019-01-28 22:06] ReillyProcentive opened #518 "Heapdumps fail in OpenJ9"
Hello, we've been experimenting with the OpenJ9 JVM (this [build](https://adoptopenjdk.net/releases.html?variant=openjdk8&jvmVariant=openj9#x64_linux) specifically) in order to reduce the memory footprint of our application. We just noticed that taking heapdumps is broken.

The following exception appears in the logs for the central collector:
[code]

The `HotSpotDiagnostic` exception also appears

[2019-01-29 01:47] trask commented on #510
Re-opening, to support `password` as well.

[2019-01-30 01:55] yosaku01 commented on #517
@trask, Thank you very much. I have established the grpc servers load balance with Nginx 1.14.0.
And we need install ngx_http_v2_module into nginx before configure load balance.

[2019-01-30 01:55] #517 closed

[2019-01-30 01:56] yosaku01 commented on #516
@trask, Thank you very much. I have tried installed glowroot agent with OpenJDK 1.7.0_201 and Jboss as final 7.1.1, and the agent worked well.

[2019-01-30 01:57] trask commented on #517
👍

[2019-01-30 01:57] trask commented on #516
👍

[2019-01-30 08:24] yosaku01 opened #519 "Does glowroot agent collects the http rest request information based on servlet specification?"
I have collected the http rest request information using glowroot agent.

But when I developed a http rest interface in Mule ESB container based on its custom http component, I found the rest request information can not be collected.

![image](https://user-images.githubusercontent.com/1314082/51967784-37760600-24ab-11e9-9d61-fce95092bf64.png)

Does glowroot agent collects the rest request info bas

[2019-01-31 14:36] davidepolli opened #520 "glowroot slows down Liferay DXP (tomcat9) startup"
Hi,

recently I've been trying to use glowroot for monitoring a Liferay DXP cluster and it looks like the overhead on application startup is far from "difficult to measure".

Liferay runs on Tomcat9 (tomcat-9.0.6) app server and, without glowroot we have startup time of about 80 seconds, with glowroot agent, the mean startup time raise to about 100 seconds.

Can you suggest how to reduce this impa

[2019-02-01 07:43] lukaszun opened #521 "Tombstones limit problem"
Hi,
from some time we're experiencing problem with cassandra and glowroot.

While browsing transaction we got following error:

An error occurred
com.datastax.driver.core.exceptions.ReadFailureException: Cassandra failure during read query at consistency ONE (1 responses were required but only 0 replica responded, 1 failed)

In Cassandra:

Scanned over 100001 tombstones during query 'SELECT * FROM

[2019-02-04 09:29] bmhm opened #522 "openj9 / ibm j9 broken after 0.11.0"
Hi,

after Upgrading from 0.11.0 to 0.13.0, I cannot see heap dumps, the mbean tree of other things in the JVM tab.

Before the upgrade, I could see entries in the mbean tree, the threaddump, forcegc button, system properties and environment.
Now, every entry shows this error:

[code]

// Update:
Also will not work when connecting to an agent running Oracle JDK.

[2019-02-05 20:19] #520 closed

[2019-02-05 20:19] #521 closed

[2019-02-05 20:46] trask commented on #519
Hi @yosaku01, thanks for posting! Yes, the [servlet plugin](https://github.com/glowroot/glowroot/tree/v0.13.0/agent/plugins/servlet-plugin) captures requests by instrumenting based on the Servlet API.

[2019-02-05 20:47] trask commented on #520
Hi @davidepolli, thanks for posting!  Startup time is a definitely impacted, since that is when classes are loaded and the initial bytecode instrumentation takes place.

That said, I tried out Liferay (which loads a lot of classes!) and took another crack at tuning the initial bytecode instrumentation, and was able to cut the startup overhead approximately in half.

You'll won't notice this improv

[2019-02-05 20:47] trask commented on #521
Hi @lukaszun, thanks for reporting this!

I just optimized these trace "partial" tables so that central collector should write about 20x fewer tombstones to those tables now.

This optimization is available (as long as you are using Cassandra 3.0+) in the latest snapshot release [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g

[2019-02-06 01:55] trask commented on #522
Hi @bmhm, thanks for reporting this!

What JVM / version are you running the central collector with?

It looks like you are monitoring the central collector with the glowroot agent, what version of the glowroot agent are you using to monitor your central collector?

Can you post the glowroot agent log for the agent that is monitoring the central collector itself?

Thanks,
Trask

[2019-02-06 01:56] trask commented on #515
Closing, but please re-open if you still want to discuss. Thanks.

[2019-02-06 01:56] #515 closed

[2019-02-06 01:57] trask commented on #506
Closing, but please re-open if you still want to discuss. Thanks.

[2019-02-06 01:57] #506 closed

[2019-02-06 01:59] lfen21 opened #523 "Leaked connection detection"
Hi

Do you think there is a way to do database connection leaks detection via glowroot ?

Thanks

[2019-02-06 05:15] #518 closed

[2019-02-06 05:42] trask commented on #518
Hi @ReillyProcentive, thanks for reporting this! It should be fixed now in the latest snapshot release [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT).

[2019-02-06 08:51] davidepolli commented on #520
hi @trask,
thanks for your answer and for taking care of analize and develop a fix, i'll soon try the new version and share the results.

Regards,
Davide

[2019-02-06 12:04] bmhm commented on #522
I am using the same agent and Central version. But the agent cannot detect the central version.
See also my Google groups discussion, which has a similar issue.

[2019-02-07 05:53] trask commented on #522
The unknown version issue should be fixed now in the latest snapshot release [glowroot-central-0.13.1-SNAPSHOT-dist.war](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=war&v=0.13.1-SNAPSHOT).

I couldn't reproduce the `java.lang.AbstractMethodError`.

Can you post your `jvm.options` file (from `wlp/usr/servers/...`)?

[2019-02-08 06:32] #500 closed

[2019-02-08 06:32] #510 closed

[2019-02-08 06:58] trask commented on #500
I'm think this should work now in the latest snapshot release [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT). Let me know how it goes. Thanks.

[2019-02-08 06:58] trask commented on #510
`password` should now be supported in the latest snapshot release [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.1-SNAPSHOT). Thanks.

[2019-02-08 07:24] bmhm commented on #522
Sure, here you go: https://pastebin.com/fkL8ZxEj

[2019-02-08 18:48] trask commented on #522
Hi @bmhm, I'm confused because I can see that the glowroot agent is monitoring the central collector itself because of the stack trace:

[code]

but I don't see `-javaagent:path/to/glowroot.jar` in your `jvm.options` file.

Maybe you added `-javaagent:path/to/glowroot.jar` somewhere else? Thanks.

[2019-02-09 04:21] trask commented on #479
Closing, I think hovering over the chart explains the reason behind this, that the timing for the red error section is very precise, while the response time line is aggregated values as you zoom out. Plus, the right-hand side is the main confusion, and that only happens if you delete a synthetic monitor, at which point you probably don't really care that much about it.

[2019-02-09 04:21] #479 closed

[2019-02-09 07:50] yosaku01 commented on #519
Dear trask, thank you for your answer. If I want to captures the http request based on non-servlet  spec, need I use the glowroot api in my application?

[2019-02-09 09:25] vguna commented on #500
I'll give it a try, thanks!

[2019-02-09 22:34] trask commented on #519
Hi @yosaku01, you can instrument either your application code or the library code (in this case mule). There are a few different options when it comes to instrumentation (see https://glowroot.org/instrumentation.html), I generally recommend trying the Instrumentation UI to start out with, at least for experimenting.

[2019-02-09 22:56] trask commented on #304
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2019-02-09 22:56] #304 closed

[2019-02-09 23:01] trask commented on #425
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2019-02-09 23:01] #425 closed

[2019-02-09 23:06] trask commented on #504
Hi @gamefundas, thanks for posting! There used to be a tooltip on hover, but I found it cumbersome in the majority(?) case when you just want to open and view the whole trace.

Would some kind of filter on the breakdown address your need, to narrow down what you are looking for?

[2019-02-11 01:54] yosaku01 commented on #519
Thank you very much, dear trask. I will try instrument in my Mule ESB code.

[2019-02-11 01:54] #519 closed

[2019-02-11 11:03] bmhm commented on #522
Hi @trask,

I just omnitted those two lines (javaAgent and agent_name).
Anyway, even when viewing other JVMs, I get the very same error message.

I just added glowroot everywhere where I deploy my application server. In 0.11.0, I never had any problems with this.

[2019-02-11 18:00] trask commented on #522
Hi @bmhm, can you post the agent log from the agent_name log dir (the one that is monitoring the central collector itself)?

[2019-02-13 15:51] bmhm commented on #522
Hi @trask ,

when I start up a collector freshly and target that specific page (e.g. thread dump of another agent), this is the whole output from liberty's `console.log`:

[code]

An this is the content of `glowroot-central.log`:
[code]

[2019-02-13 18:00] trask commented on #522
Hi @bmhm, these are both central collector logs, I'm interested to the see agent log from the agent that is monitoring the central collector itself.

If it's not clear what I'm looking for, can you post your full `jvm.options` file (including the `-javaagent` and `agent_name` args), then I can direct you to the exact directory/file I'm looking for.

Thanks,
Trask

[2019-02-14 08:29] bmhm commented on #522
Hi @trask ,

there are no log entries when I click on that menu item.
There are some "excessive backlog" entries, but that's it.

(btw: how would I know if I need another cassandra instance or another glowroot central instance?)

[2019-02-14 11:15] lfen21 opened #525 "what is logging"
Hello

Can you tell me what is exactly "logging" please

![image](https://user-images.githubusercontent.com/38753048/52783470-4683b900-3052-11e9-8907-8b2385337e7a.png)

[2019-02-14 11:17] lfen21 commented on #489
Hi, still the issue

An error occurred
Cassandra timeout during read query at consistency QUORUM (1 responses were required but only 0 replica responded)
hide stack trace
java.util.concurrent.ExecutionException: com.datastax.driver.core.exceptions.ReadTimeoutException: Cassandra timeout during read query at consistency QUORUM (1 responses were required but only 0 replica responded)
	at com.google.

[2019-02-14 19:18] trask commented on #489
Hi @lfen21, thanks for the update! I think this is due to too many tombstones in the partial trace tables, this is fixed in the latest snapshot release, also see #521.

[2019-02-14 19:21] trask commented on #522
Hi @bmhm, can you post your full `jvm.options` file (for the WebSphere that is running the central collector), including the `-javaagent:path/to/glowroot.jar` and `-Dglowroot.agent.id` args?

[2019-02-14 19:31] trask commented on #525
Hi @lfen21, thanks for posting!

The [logging plugin](https://github.com/glowroot/glowroot/tree/v0.13.0/agent/plugins/logger-plugin/src/main/java/org/glowroot/agent/plugin/logger) captures logging calls made to JUL, Log4j (1 and 2) and Logback.

[2019-02-14 22:56] lfen21 commented on #525
Hi

Ok but the time is the time to write it on disk ?

I have some time on that plugin

Envoyé de mon iPhone

[2019-02-14 22:57] lfen21 commented on #489
Good news , was just installing the last version on our test environnement

Great job

Envoyé de mon iPhone

[2019-02-15 00:48] trask commented on #525
Most likely, but the loggers do a bit more internally before actually writing to disk (e.g. formatting the message). I recommend looking at the thread profile tab next and filter by `log4j`, `logback` or `java.util.logging` to get more details on where exactly the time is spent.

[2019-02-15 00:50] trask commented on #489
This fix is in 0.13.1, so you'll have to install the SNAPSHOT release, or wait for the 0.13.1 release (probably in the next week).

[2019-02-15 09:10] Roni1993 opened #526 "[Enhancement]Mark Restarts/Custom Marker in Overview"
Hi Trask,

i was wondering if you could implement an improvement for Glowroot.
Currently I'm using Glowroot to analyze performance Issues and it's helping a lot!
Though it would be nice if restarts of the JVM would be marked with a vertical line (in all graphs).
Also it would be nice to be able to mark custom "events" e.g. if you found a performance degradation which i want to analyze later.
Examp

[2019-02-15 10:12] goldentigerindia opened #527 "[New Feature] JFR Recording Support"
Can we have JFR recording support implemented in glowroot? It would work with JDK that has JFR implemented. Basically Azure Zulu 8,9,10 jdk, open jdk 11, oracle jdk 8,9,10. Also if we could parse the JFR and show a flame graph it would be an added advantage. We could have something like the HeapDump option .

[2019-02-15 11:27] anilharta commented on #213
I want to update few Glowroot configurations deployed on multiple remote machines e.g I want to update glowroot transaction type or email address from my local machine. But, I am not able to find out a way to connect to these remote glowroot servers. Can you please let me know how can I connect to these remote glowroot servers using my java code? Are there any API that can help in connection?

[2019-02-15 12:49] anilharta commented on #213
I Just found a new Link 'https://github.com/glowroot/glowroot/issues/454' having Rest API details. Currently working on that. Thanks you.

[2019-02-15 19:39] bmhm commented on #523
Hi @lfen21,
this is already possible. Most connection pools do expose open connections via MBean or MXBean.
Add a gauge for them and you are done.

If you want to have this as default, add a default config next to the glowroot.jar file.

[2019-02-15 19:43] bmhm commented on #343
@fairlyaccurate I don't understand you question…

What do you mean by load balancing? It is already included. If you need further loadbalancing, you can use a hardware solution which is http2 capable (that's the grpc protocol) or nginx starting from 1.13.0. You just configure a backend called "glowroot", add three entries ("server a; server b; server c"), set up a proxy directive, and you are done

[2019-02-15 19:44] bmhm commented on #311
Hello @pavanie

You could use a nginx starting from 1.13. as a http2 loadbalancer and add IP restrictions.

OR at client side, also install an nginx and let them do the authentication. :)

[2019-02-15 21:16] #411 closed

[2019-02-15 21:16] #439 closed

[2019-02-15 22:19] trask commented on #439
Hi @bourretp, thanks for posting! My concern about having separate start/stop is that you have to be really sure that stop gets called, otherwise abandoned trace could cause memory leak. Instead, if they are being called by the same thread, I try to instrument the caller of both of the methods. I took a look at Apache Camel, and created a (starter) plugin that I think(?) accomplishes what you are

[2019-02-15 22:19] trask commented on #411
Hi all, thanks for your comments, it helps to know this would be useful for several people. It is available now in the latest snapshot releases [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.1-SNAPSHOT) and [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/

[2019-02-15 22:19] trask commented on #475
Hi @bit-ionutursuleanu, thanks for posting! I should really look at the flame graphs more myself, you're right they can be very nice way to see all branches at once! This feature is available now in the latest snapshot releases [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13

[2019-02-16 23:08] #433 closed

[2019-02-17 00:25] trask commented on #433
Hi @bmhm, thanks for posting! Comments should now be preserved in the latest snapshot releases [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT) and [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g

[2019-02-17 09:09] bmhm commented on #433
Yay, you're the best! Going to try it tomorrow!

[2019-02-17 19:55] bit-ionutursuleanu commented on #475
Thanks, @trask

[2019-02-18 09:24] yosaku01 opened #528 "ldap user test validation failed"
Dear trask,
      I have used ldap plugin to validate the login user ,my ldap settings is following

![image](https://user-images.githubusercontent.com/1314082/52940354-4dd3fb00-33a1-11e9-8722-52733d469f00.png)
     I saved the ldap settings and validation the settings. I used my ldap account and password.
The result message shows:
     **_Authentication succeeded, but the LDAP group query did not

[2019-02-18 12:48] bit-ionutursuleanu commented on #475
Could you also add this to the exported trace?

[2019-02-18 21:44] trask commented on #528
Hi @yosaku01, thanks for posting! From the Jenkins LDAP Plugin docs, it looks like they support two different mechanisms for retrieving the groups of a given user, [Search for groups containing user](https://wiki.jenkins.io/display/JENKINS/LDAP+Plugin#LDAPPlugin-Searchforgroupscontaininguser) and [Parse user attribute for list of groups](https://wiki.jenkins.io/display/JENKINS/LDAP+Plugin#LDAPPlug

[2019-02-19 02:03] yosaku01 commented on #528
Dear trask,
         Thank you for answering my question. I have set the Group search filter to "cn={0}" and register a new account same as the ldap account. And the validation test passed.
         Originally I have thought the LDAP plugin supports SSO function, so I did not register new glowroot account first. Can the Glowroot supports SSO function? Then we need not register user account and onl

[2019-02-19 02:06] trask commented on #528
Hi @yosaku01, you don't need to create glowroot users if you are using LDAP. What was the issue before you created the glowroot user? Thanks.

[2019-02-19 02:28] yosaku01 commented on #528
Dear trask,
      If we did not create glowroot user account, only bind ldap server. When I login in with ldap account, the error message is "Password incorrect"(shown as below graph).
![image](https://user-images.githubusercontent.com/1314082/52985836-7b1bba00-3430-11e9-8d98-568b8b92fc8d.png)
       But when I create glowroot account same as the ldap account and use ldap password, I login in succ

[2019-02-19 02:32] trask commented on #528
What do you get when you "Test LDAP authentication" (at bottom of LDAP configuration page) with the user you are trying to log in with?

[2019-02-19 02:51] yosaku01 commented on #528
Dear trask,
         If I did not create user account in glowroot, when I execute ldap validation, the error message is shown as below

![image](https://user-images.githubusercontent.com/1314082/52986560-ea92a900-3432-11e9-931d-dd508e312454.png)
        And when I create the user account and re-test, the error message is the same, and I can login in successfully.
        And there is a new problem

[2019-02-19 06:07] trask commented on #475
Re-opening, will consider.

[2019-02-19 07:04] trask commented on #528
"The LDAP group query did not find any groups for this user" probably means the LDAP "Group search filter" that you configured is not correct.

[2019-02-19 09:59] yosaku01 commented on #528
Dear trask,
       For LDAP Group Search Filter, I used "(&(cn={0})(objectclass=group))" or "(&(member={0})(objectclass=group)), the error message is the same. How can I config the Group Search Filter?
       In Jenkins, the Group Search Filter is **_(&(memberOf=cn=jenkins,ou=Group,dc=cn,dc=company,dc=com))_** and it works.
      Best Regards,
      Yours Rick

[2019-02-19 12:05] carl-payne opened #529 "Issue encountered adding new Gauge that contains double quotes in name"
Attempted to add org.xnio:type=Xnio,provider="nio",worker="default",address=* to monitor http port usage on WildFly 15 as new Gauge, but glow root fails with error attached and config.json has the following entry:

    {
      "mbeanObjectName": "org.xnio:type=Xnio,provider=\"nio\",worker=\"default\",address=*",
      "mbeanAttributes": [
        {
          "name": "ConnectionCount"
        }

[2019-02-19 13:34] dharanchandar commented on #453
Looks like no official support from glowroot team

[2019-02-19 14:39] varunchauhan49 commented on #453
@dharanchandar Both of the links belongs to the same agent. You can use this agent to integrate with glowroot. If you need to customize the agent as per your need, just clone the agent from github.

[2019-02-19 16:00] lfen21 opened #530 "Add gauge causing array out of bound"
Hi

when i add a gauge on mbeans attributes of my datasource, i have that error
Glowroot version 0.10.11

I can't access to the gauge screen anymore

1
hide stack trace
java.lang.ArrayIndexOutOfBoundsException: 1
	at org.glowroot.common2.repo.util.Gauges.getDisplayParts(Gauges.java:127)
	at org.glowroot.ui.GaugeConfigJsonService$1.compare(GaugeConfigJsonService.java:57)
	at org.glowroot.ui.GaugeCo

[2019-02-19 16:59] IAmNullPointer opened #531 "[Improvement] Display only the slowtraces that contains certain query"
As part of performance tuning, we rely a lot on Glowroot - it is great! However, we find ourselves looking at the 'Slow Queries' tab, getting the top 5, and then trying to guess which slowtrace has it so we can check the stacktrace and understand where is the query coming from.

Ideally, same way you filter by URL, can we filter by SQL appearance?

[2019-02-19 21:55] ecedwards opened #532 "Heap Histogram - Downstream Service Agent Exception"
Hello,

I just recently configured both Glowroot Central Collector and Agent to test its functionality, and noticed when clicking on Heap Histogram, it throws the following error.

org.glowroot.central.DownstreamServiceImpl$AgentException
	at org.glowroot.central.DownstreamServiceImpl.runOnCluster(DownstreamServiceImpl.java:452)
	at org.glowroot.central.DownstreamServiceImpl.heapHistogram(Downstre

[2019-02-19 22:11] ecedwards commented on #532
This is the stacktrace I'm getting from the Agent,

Caused by: java.lang.UnsatisfiedLinkError: Native Library /usr/java/jdk1.8.0_151/jre/lib/amd64/libattach.so already loaded in another classloader
        at java.lang.ClassLoader.loadLibrary0(ClassLoader.java:1907)
        at java.lang.ClassLoader.loadLibrary(ClassLoader.java:1845)
        at java.lang.Runtime.loadLibrary0(Runtime.java:870)

[2019-02-19 22:34] ecedwards opened #533 "Glowroot SMTP Configuration - SendFailedException: Invalid Addresses"
Hello,

I just recently configured the SMTP settings, (which I tested before with same configuration on version 0.10 and had no problems), and it's giving me the following error.

SendFailedException: Invalid Addresses

I am using the same SMTP server, and same email address to test this scenario. Unfortunately, I do not see any logs or stacktrace for further troubleshoot.

[2019-02-19 22:55] trask commented on #532
Hi @ecedwards, thanks for posting! Can you try with the latest snapshot release [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT)? I think this may be fixed indirectly by f9cfb12249408fe4b78b25fb8c1303121f6c7bf4.

[2019-02-19 22:59] trask commented on #533
Hi @ecedwards, thanks for posting! Do you get this error when sending a test email from the bottom of the SMTP configuration page?

[2019-02-19 23:04] ecedwards commented on #533
Yes, that is correct.

[2019-02-19 23:05] ecedwards commented on #532
Sure, will try ir and let you know. :)

[2019-02-20 00:03] trask commented on #533
Just want to make sure, you're using a full email address, including the domain, e.g. `test@example.com`?

[2019-02-20 04:16] #529 closed

[2019-02-20 04:16] #530 closed

[2019-02-20 04:20] trask commented on #528
Hi @yosaku01, can you try in Jenkins using the option [Search for groups containing user](https://wiki.jenkins.io/display/JENKINS/LDAP+Plugin#LDAPPlugin-Searchforgroupscontaininguser) instead of the option [Parse user attribute for list of groups](https://wiki.jenkins.io/display/JENKINS/LDAP+Plugin#LDAPPlugin-Parseuserattributeforlistofgroups). Glowroot LDAP only supports the first option, so if y

[2019-02-20 04:41] trask commented on #529
Hi @carl-payne, thanks for reporting this! I think it should be fixed now in the latest snapshot releases  [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT) and [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r

[2019-02-20 04:41] trask commented on #530
Hi @lfen21, thanks for reporting this! I think it should be fixed now in the latest snapshot releases  [glowroot-agent-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.1-SNAPSHOT) and [glowroot-central-0.13.1-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=sna

[2019-02-20 05:50] yosaku01 commented on #528
Dear trask,
           Thank you very much, I will try Search for group containing user policy. If there is still some problems I will reply to you.
           Best Regards,
           Yours Rick

[2019-02-20 11:18] carl-payne commented on #529
Hi trask, I can confirm the latest snapshot release addresses the issue reported, and thanks again for such a speedy response, keep up the good work !!!

[2019-02-20 13:48] ecedwards commented on #533
Yes, full email. Tried with different addresses as well.

[2019-02-20 14:16] ecedwards commented on #532
Works like a charm on the newest Snapshot release 0.13.1. I went ahead and upgraded both the Central and Agent to ensure both run on the latest version.

Thanks a lot!

[2019-02-20 14:16] #532 closed

[2019-02-20 18:58] trask commented on #532
👍

[2019-02-20 18:59] trask commented on #529
👍

[2019-02-22 08:00] torlix opened #534 "glowroot does not listen on 4000 with glassfish"
I installed glowroot agent with glassfish, glassfish show glowroot start with ui listening on 0.0.0.0:4000, but it did not listen.

root     27733     1 99 15:46 pts/1    00:19:47 /usr/lib/jvm/java-8-oracle/bin/java -cp /opt/glassfish4/glassfish/modules/glassfish.jar -XX:+UnlockDiagnosticVMOptions -XX:NewRatio=2 -XX:MaxPermSize=192m -Xmx1g -client -javaagent:/opt/glassfish4/glassfish/lib/monitor/f

[2019-02-22 08:12] torlix commented on #534
sorry, added the glowroot.jar at wrong place. Please close this issue.

https://github.com/glowroot/glowroot/wiki/Where-are-my-application-server's-JVM-args%3F#payara-5

[2019-02-22 14:00] linzwgit opened #535 "How debug glowroot agent with idea"
I want learn your glowroot agent code. but I can't use your code to debug. if you have developer document. can U show me please. thanks

[2019-02-22 18:55] trask commented on #534
👍

[2019-02-22 18:55] #534 closed

[2019-02-23 00:54] vguna commented on #500
Sorry for the late reply, but I can confirm, that 0.13.1 now shows nicely the stats per endpoints, thanks again!
I saw one special case though, where the HTTP method wasn't prefixed like for the other ones.

[code]

Where the JAX-RS subresource looks like this:

[code]

So the POST prefix is missing.
The parent resource (interface) has the `@Path` set to `authentication` returning this interface.

[2019-02-25 07:25] yosaku01 commented on #452
Dear trask,
        Whether the glowroot-central-collector-https-linux-alpine.jar supports gRpc HTTPS support in other Linux environment? Because the glowroot-central 0.13.1 distribution does not contain this jar file?
Because we need add grpc TLS proxy in our production environment, we want to know whether the default glowroot-central distribution supports the grpc https protocol. Can you answer

[2019-02-26 09:25] ionutursuleanu opened #536 "Auxiliary Threads trace entries after transaction thread ends"
Hi @trask ,

Is it possible to keep logging trace entries for the auxiliary threads after the transaction ends? Now, "this auxiliary thread was still running when the transaction ended" is logged last. Maybe an option to consider the transaction active while auxiliary threads are still running?

[2019-02-26 14:39] lfen21 commented on #523
hm not exactly what i wanted but interesting

[2019-02-26 14:39] lfen21 opened #537 "Glowroot alert & zabbix"
Possibility to send alert to zabbix

[2019-02-26 16:57] lfen21 opened #538 "one color by server in slow traces when using rollup"
Hi

Can  you improve to have one color by server in trace entries

Thanks

[2019-02-26 19:39] trask commented on #536
Hi @ionutursuleanu, thanks for posting! Can you take a look at #396, and see if that approach works for you?

[2019-02-26 19:49] trask commented on #452
Hi @yosaku01, are you running the central collector on Alpine Linux or another Linux distribution?

[2019-02-27 10:38] salimchami commented on #393
Hi, I have the same issue with the version 0.12.3.

[2019-02-27 16:06] ionutursuleanu commented on #536
Not ideal...but it's ok. Thanks @trask

[2019-02-27 18:45] trask commented on #393
Hi @salimchami, can you try with 0.13.1? I believe this is fixed in 0.13.1 by #511. Thanks.

[2019-02-27 18:47] trask commented on #536
Hi @ionutursuleanu, can you describe your scenario? What kind of transaction is it (e.g. servlet request, quartz job)? What kind of work does it spawn in the auxiliary thread that runs beyond the transaction end? Maybe that will give me some ideas how to handle it better. Thanks.

[2019-02-27 18:49] trask commented on #525
Closing, but please re-open if you still want to discuss. Thanks.

[2019-02-27 18:49] #525 closed

[2019-02-27 19:02] Madrity commented on #393
It's OK for me with 0.13.1 release.

Thanks.

[2019-02-27 19:03] trask commented on #393
👍

[2019-02-27 20:06] ionutursuleanu commented on #536
It's a servlet request (from a web ui) which processes documents. All business logic is run  in a distinct thread (executor service with callable). If the auxiliary thread still runs after 15 seconds, then the http thread returns a response informing the user that the processing will keep running in background

[2019-02-28 02:36] zshahan opened #539 "Glowroot central error on startup"
When upgrading our central collector from v0.13.0 to v0.13.1, we get this error on startup.  Thoughts?

[code]

[2019-02-28 03:36] trask commented on #539
Hi @zshahan, thanks for reporting this! I can repro and will push a fix shortly.

[2019-02-28 04:22] #539 closed

[2019-02-28 04:45] trask commented on #539
Thanks again for reporting this! It should be fixed now in the latest snapshot release [glowroot-central-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=zip&v=0.13.2-SNAPSHOT).

[2019-02-28 12:24] ynsdl opened #540 "Respons time other function"
I spend so many time with other options. What does it means ?
![glowrootcapture](https://user-images.githubusercontent.com/46422366/53566339-ea01bd00-3b6c-11e9-9c3e-46f68fc4a32f.jpg)

[2019-02-28 14:57] zshahan commented on #539
Thanks for fixing it.  Would you be able to provide the WAR version of the central collector?  I have attempted building it per documentation several times and it keeps failing on a proguard error.

[2019-02-28 15:34] zshahan commented on #539
Nevermind on the WAR.  I was able to find it searching the OSS nexus repo.

Thanks again for the quick fix!

[2019-02-28 18:49] trask commented on #539
👍 Oops, glad you found the war snapshot! For anyone else here, the latest war snapshot is at [glowroot-central-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=war&v=0.13.2-SNAPSHOT).

[2019-02-28 18:51] trask commented on #540
Hi @ynsdl, thanks for posting! Can you look over issue #365 and post back here on this issue with any additional questions?

[2019-02-28 19:36] trask commented on #536
So, ideally, you'd like the Web request time to include the background task time? Thanks.

[2019-02-28 20:59] trask commented on #533
Hi @ecedwards, is there a stack trace that you can post? Also, are you using the embedded collector or the central collector, and what JVM / Java version are you running with? Thanks.

[2019-02-28 21:04] trask commented on #537
Hi @lfen21, can you have a look at #389? I started looking into this, but had a couple of questions.

[2019-02-28 21:16] trask commented on #535
Hi @linzwgit, thanks for posting! One option is remote debugging, e.g. run your application with `-Xdebug -agentlib:jdwp=transport=dt_socket,address=8000,server=y,suspend=y -javaagent:path/to/glowroot.jar`, and then attach to it from your IDE/debugger. If you download the glowroot source jar https://search.maven.org/remotecontent?filepath=org/glowroot/glowroot-agent/0.13.1/glowroot-agent-0.13.1-so

[2019-02-28 21:17] ionutursuleanu commented on #536
Yes, that would be nice

[2019-02-28 21:19] trask commented on #536
Re-opening to consider this.

[2019-03-01 08:53] lfen21 opened #541 "possibility to do adhoc report with transaction web and background"
Hi

All in the title :)

Thanks

[2019-03-01 12:28] mtuksal opened #542 "Glowroot having issue in Spring service which uses ForkJoinPool"
Hi guyz,
We are having issue when we use ForkJoinPool in XServiceImpl. We use spring framework. The error log shown in below. I think this migth be a bug.
Thanks in advance...

 **at org.glowroot.agent.plugin.executor.ExecutorAspect.onBeforeCommon(ExecutorAspect.java:448)
        at org.glowroot.agent.plugin.executor.ExecutorAspect.access$100(ExecutorAspect.java:44)
        at org.glowroot.agent.p

[2019-03-01 14:07] ynsdl commented on #540
Thanks. I understand what is other.

[2019-03-01 14:07] #540 closed

[2019-03-01 18:38] trask commented on #542
Hi @mtuksal, thanks for reporting this! Can you include the line above what you posted? It should contain the exception name. Also, what glowroot version are you using so I can match up the line numbers in the code? Thanks.

[2019-03-01 18:45] trask commented on #541
Hi @lfen21, just want to clarify, you want to see those results broken out per transaction type? or you want the metrics to represent all transactions of both types? If the latter, can you explain your use case? I'm interested to understand what cases it makes sense to look at a single number that represents both Web and Background transactions. Thanks.

[2019-03-01 18:45] trask commented on #540
👍

[2019-03-03 22:36] lfen21 commented on #541
Hi

i have some web transaction which calls background transaction of another application

[2019-03-04 07:14] mtuksal commented on #542
Glowroot version is 0.13.1 and i checked master branch. But i didn't match the branch with version sorry for that. Link provided in below.

[2019-03-04 14:29] trask commented on #542
Can you post the full stack trace? What you posted above is missing the exception name/exception message, should be at the very top of what you posted already. Thanks.

[2019-03-04 18:51] ecedwards commented on #533
No, it seems kind of weird as it doesn't have any catch when the error happens.

I am using "Central collector version 0.13.1-SNAPSHOT, commit daa1e38d9e", with Java version: "openjdk version "1.8.0 191""

Thanks for the constant updates.

[2019-03-05 00:45] vancezhao commented on #535
Thanks! @trask Really helps.

[2019-03-05 06:41] mtuksal commented on #542
You can find full stack trace below.

java.lang.AbstractMethodError
        at org.glowroot.agent.plugin.executor.ExecutorAspect.onBeforeCommon(ExecutorAspect.java:448)
        at org.glowroot.agent.plugin.executor.ExecutorAspect.access$100(ExecutorAspect.java:44)
        at org.glowroot.agent.plugin.executor.ExecutorAspect$ExecuteAdvice.onBefore(ExecutorAspect.java:101)
        at org.springframe

[2019-03-05 10:42] linzwgit commented on #535
Tks! @trask its goods for mine

[2019-03-05 10:43] #535 closed

[2019-03-05 10:45] GagouKun opened #543 "NullPointerException when calling ClassLoader.defineClass()"
Hello,

After upgrading from v0.13.0 to v0.13.1, we are getting this error :
[code]

It happens because we are calling `ClassLoader.defineClass(String name, byte[] b, int off, int len)` with `null` for `name` parameter.

[2019-03-06 14:35] jhuertaa opened #544 "org.glowroot.agent.weaving.Weaver wildfly 8.2.1.Final"
Hi,

Could you help me please with this error on 8.2.1.Final.
I m configuring other glowroot version [check bellow], but in all case i have the same error.

0.10.9-SNAPSHOT
0.13.0-SNAPSHOT
0.12.3-SNAPSHOT

other informations:
Java version: 1.7.0_67

---
[complete log.log](https://github.com/glowroot/glowroot/files/2936688/complete.log.log)
---

2019-02-15 00:41:07.287 ERROR org.glowroot.agent.weav

[2019-03-07 12:07] justme02 opened #546 "Possible memory leak - Webflux with Tailable and event-stream"
Hi,
I have an application that is build with spring webflux and it streams events from MongoDb to end user. I observed that gloowroot share in occupy memory is high (much higher than in other our applications).  As I mention in subject I use mongodb cursor to fetch new data and stream it to user. Each user open its own stream. Let me know if you need more information to solve this issue.
 version:

[2019-03-10 21:39] bostjans opened #547 "simpl command_line -> Glowroot not showing transaction timings - #1"
Hi. Have a simple command-line Java App (one Class). It processes some data via JDBC and Hazelcast.
According to Glowroot instructions I did: Agent install (with Embedded Collector).
.. and Glowroot is normaly accessible via Port 4000.
Ok .. al fine.
Then - according to https://glowroot.org/instrumentation.html - I added:

@Instrumentation.Timer("myprocess")
..

.. to one of my method(s).
And .. n

[2019-03-12 05:39] trask commented on #547
Hi @bostjans, thanks for posting!

Try `@Instrumentation.Transaction`, that will demarcate a transaction. `@Instrumentation.Timer` is used to create additional timers inside of a transaction.

[2019-03-12 05:44] trask commented on #546
Hi @justme02, thanks for reporting this! Any chance you could capture a heap dump and upload to me at https://www.dropbox.com/request/Yo15bgWhhQS1K7qyA6wK?

[2019-03-12 11:35] robinroos opened #548 "Add (shaded) support for LogstashLogbackEncoder"
Hello,

We need to output logs in JSON format, for consumption by Logstash and rendering in Kibana, which we achieve with LogstashLogbackEncoder.

[code]

We are providing the necessary logback configuration in glowroot.logback.xml located in the same folder as glowroot.jar.

[code]

We are using Glowroot 0.13.0 with Glowroot Central Collector.  Our issue arises during bootstrap of the JVMs that u

[2019-03-12 11:53] robinroos commented on #548
This is the best I could get out of logstash via Kibana.  Any inconsistencies may be due to my having to manually edit the output to be more presentable here.

[code]

[2019-03-12 13:21] robinroos commented on #548
Just in case, is there a way to achieve this by adding
[code]
and its jackson dependency
[code]
to the lib/ folder alongside `glowroot-central-collector-https-linux-alpine.jar` ?

[2019-03-12 19:07] trask commented on #544
Hi @jhuertaa, thanks for reporting this!

Can you post (or email me) the file Glowroot wrote out `/tmp/glowroot-weaving-error-DirectByteBuffer$Deallocator.class`?

[2019-03-12 23:43] bostjans commented on #547
.. no shit (excuse my language), that helped -> it works! Tnx. :-)

[2019-03-12 23:43] #547 closed

[2019-03-13 05:57] #543 closed

[2019-03-13 06:21] trask commented on #543
Hi @GagouKun, thanks for reporting this! It should be fixed now in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT).

[2019-03-13 11:27] justme02 commented on #546
Heap dump has been uploaded.

[2019-03-13 14:56] calendorn opened #549 "Error HTTP 404 when trying to access to an incident"
Hello:

We are trying glowroot central collector and we've seen that a new incident was created for one of the agents. When we try to access to the URL in the incident it gives us a 404.

Our glowroot central URL is http://xxxxxx:8080/glowroot-central/

And the link for the incident is "http://xxxxx:8080/error/messages?xxxxx" instead of "http://xxxxx:8080/glowroot-central/error/messages?xxxxx" . I

[2019-03-13 16:23] #549 closed

[2019-03-13 16:48] maddaliravi opened #550 "NoSuchMethodError: org.apache.commons.dbcp.AbandonedTrace.getObject(ILjava/Lang/class;)Ljava/Lang/Object"
Hi,

I am using latest glowroot ..0.13.1

A working functionality is giving the above error after I plugged glowroot to my application that runs on tomcat 8.0.17 and java8.

I tried to change my application to tomcat 7.0.39 and java7 and the issue still persist.

If I removed glowroot it is working fine but comes back if add it again.

The class in question is from commons-dbcp 1.3 jar ... Which i

[2019-03-13 16:49] trask commented on #550
Hi @maddaliravi, thanks for reporting this! Can you post the full stack trace for the exception?

[2019-03-13 16:59] trask commented on #549
Hi @calendorn, thanks for reporting this! I think it should be fixed now in the latest snapshot release [glowroot-central-0.13.2-SNAPSHOT-dist.war](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-central&c=dist&e=war&v=0.13.2-SNAPSHOT).

[2019-03-13 17:10] maddaliravi commented on #550
Caused by: java.lang.NoSuchMethodError: org.apache.commons.dbcp.AbandonedTrace.getObject(ILjava/lang/Class;)Ljava/lang/Object;

                at org.apache.commons.dbcp.DelegatingResultSet.getObject(DelegatingResultSet.java)

                at org.springframework.jdbc.support.JdbcUtils.getResultSetValue(JdbcUtils.java:197)

                at org.springframework.jdbc.core.RowMapperResultSetExtr

[2019-03-13 18:43] trask commented on #550
Hi @maddaliravi, thanks, also, what Spring Framework version are you using?

[2019-03-13 18:57] maddaliravi commented on #550
Spring core 4.3.3.RELEASE

Compiled on java7.

And it is not a spring boot application.

[2019-03-14 05:33] maddaliravi commented on #550
Hi @trask  ,  thanks for the quick turnaround.

i see that you labelled it as a bug and added to v0.13.2 release. do we have any timelines for this release ?

or if you have any workaround solutions / configuration change that you can suggest me in the meanwhile , so that i can try in the 0.13.1 version itself ?

[2019-03-14 12:09] lfen21 opened #551 "Wildfly 8 - openjdk 8 - Stackoverflow bouncycastle since last version"
Hi,
 log warn: org.jboss.modules - Failed to define class org.bouncycastle.asn1.ASN1ObjectIdentifier in Module "XXXXX" from Service Module Loader

We recently upgrade from 0.11 to 0.13.1 and we have sometimes (it's random for some application and all times for others) stack overflow and the application is unusable

Can you help please ?

Thanks

exception
java.lang.StackOverflowError
at java.secur

[2019-03-14 14:54] trask commented on #551
Hi @lfen21, thanks for reporting this!

Can you post (or email to me) the file `<glowroot dir>/tmp/preload-some-super-types-cache`?

In the meantime, the problem looks like it was caused by 6fb2204d4c4c0337ed910d46df6649dd8de641aa (which was introduced in 0.13.1), so you should be ok for now if you downgrade the agent to 0.13.0.

Thanks,
Trask

[2019-03-14 17:05] #548 closed

[2019-03-14 17:05] #550 closed

[2019-03-14 17:39] maddaliravi commented on #550
Hi @trask,

Can you give me a snapshot build please?

Thanks a lot..!

[2019-03-14 17:40] trask commented on #550
Hi @maddaliravi, I think this should be fixed now in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT).

[2019-03-14 17:40] trask commented on #548
Hi @maddaliravi, I think this should work now in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT).

I didn't include `com.fasterxml.uuid:java-uuid-generator`, because it didn't seem necessary, but let me know if there's an issue with not ha

[2019-03-14 21:03] trask commented on #541
Hi @lfen21, it sounds like the other application's transaction is not really a background transaction, see #545?

[2019-03-14 21:07] lfen21 commented on #541
yes it's the same thing, it's a response of ejb call

[2019-03-14 21:15] robinroos commented on #548
Thanks so much!  I will test during Friday and let you know.

Cheers, Robin.

[2019-03-14 21:51] trask commented on #533
Hi @ecedwards, I think this error is coming from your SMTP server, see https://stackoverflow.com/a/15132063. Can you confirm that the older version 0.10.0 still works with the same SMTP configuration?

[2019-03-14 21:53] trask commented on #528
Closing, but please re-open if you are still having any issue. Thanks.

[2019-03-14 21:53] #528 closed

[2019-03-14 23:13] lfen21 commented on #551
Hi @trask

Workaround => ok

FIle sended

Thanks

[2019-03-15 02:51] #551 closed

[2019-03-15 02:51] #544 closed

[2019-03-15 04:35] trask commented on #544
Hi @jhuertaa, can you test and see if this is resolved in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT)?

[2019-03-15 04:35] trask commented on #551
Hi @lfen21, I think this should be fixed now in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT).

[2019-03-15 07:02] AbleSteven opened #552 "Debug the Glowroot Central"
Hi, I want to do a second development on the Glowroot Central . I use IntelliJ Idea . And I have downloaded the source codes . My question is how to run the Glowroot Central in IntelliJ . By the way, I have run the Central Collector using the downloaded jar file on my local host, so it indicates that my local host has the environment to run the Central Collector .
And where can I get some source c

[2019-03-15 09:04] robinroos commented on #548
The glowroot-central-collector-https-linux-alpine.jar appears to be missing from lib/ in that snapshot, which precludes my testing it immediately.  Could you check for me?

[2019-03-15 09:15] AbleSteven opened #553 "glowroot source codes"
Hi, is there anyone could tell me why the Class cannot be resolved:
`org.glowroot.wire.api.model.DownstreamServiceOuterClass.MBeanMeta`
And, in the wire-api module there aren't any errors in the pom file and the src package
And, after I executed `mvn clean install` against on the `wire-api` module , that Class still cannot be resolved.
Looking forward to the answer !!
Thanks !!

[2019-03-15 11:03] maddaliravi commented on #550
Hi @trask,

Thank you so much.. it is working now.

Can we use this with weblogic server too ?

[2019-03-15 13:17] jhuertaa commented on #544
Hi, thanks your answer.
I installed the version that you suggest, but now my application failed to start.
When i remove glowroot, the application starting OK.

This is the log of JBOSS

07:57:36,496 ERROR [org.jboss.msc.service.fail] (MSC service thread 1-1) MSC000001: Failed to start service jboss.undertow.deployment.default-server.default-host./MyApp: org.jboss.msc.service.StartException in serv

[2019-03-15 14:33] jhuertaa opened #554 "org.glowroot.agent.bytecode.api.BytecodeServiceHolder.get wildfly 8.2.1.Final"
Hi,
I installed the version that you suggest [0.13.2-SNAPSHOT], but now my application failed to start.
When i remove glowroot, the application starting OK.

This is the log of JBOSS

07:57:36,496 ERROR [org.jboss.msc.service.fail] (MSC service thread 1-1) MSC000001: Failed to start service jboss.undertow.deployment.default-server.default-host./MyApp: org.jboss.msc.service.StartException in servic

[2019-03-15 14:45] trask commented on #554
Hi @jhuertaa, can you send me the source code (or class file) for `com.cubika.framework.aop.FrameworkClassLoader`?

[2019-03-15 14:47] trask commented on #552
Hi @AbleSteven, you can run the Central Collector in your IDE by running `org.glowroot.central.Main`.

[2019-03-15 16:18] jhuertaa commented on #554
Hi, this is the file.

On Fri, Mar 15, 2019 at 11:46 AM Trask Stalnaker <notifications@github.com>
wrote:

--
Atte. JHA

[2019-03-15 16:20] trask commented on #554
The attachment didn't come through.  Can you try sending it to trask.stalnaker@gmail.com?

[2019-03-15 17:08] trask commented on #553
Hi @AbleSteven, are you getting this error in your IDE? Can you check/post your IDE error log, e.g. https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files?

[2019-03-16 02:18] trask commented on #548
Good point, I fixed this now, try the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT).

[2019-03-16 10:00] robinroos commented on #548
Much obliged.  Downloading the latest snapshot release now....

[2019-03-16 14:53] robinroos commented on #548
I'm getting the following:

`java.lang.ClassNotFoundException: org.glowroot.agent.shaded.net.logstash.logback.encoder.LogstashEncoder`

Do I need to do anything beyond merely including the `glowroot-logging-logstash.jar` file in `lib/` alongside the `-alpine.jar` , such as perhaps mentioning logstash in glowroot.properties?

**glowroot.logback.xml**

[code]

**glowroot.properties**
[code]

**Appro

[2019-03-16 16:24] trask commented on #548
Hm, you shouldn't need to do anything special. The agent now looks for the jar file `lib/glowroot-logging-logstash.jar`, and adds it to the bootstrap classpath if it finds it.

When I run with your `glowroot.logback.xml` file from above, I get this log output:

[code]

You are using the full latest snapshot release (not just the files from the `lib` directory)?

Thanks,
Trask

[2019-03-16 17:37] robinroos commented on #548
Full latest snapshot.  Thanks for taking the time to reproduce my scenario above.

Could you validate my checksum of glowroot.jar from last night's snapshot release?

[code]

The META-INF/MANIFEST.MF from glowroot.jar contains:

[code]

I have nothing going to the Docker container other than:
* glowroot.jar
* glowroot.logback.xml
* glowroot.properties
* LICENSE
* NOTICE
* lib/glowroot-central-coll

[2019-03-16 17:40] trask commented on #548
`Build-Commit: 3e22056b67b63461f8d5536e2c69f7c06700f96e` is correct.

Can you share your (partial) Dockerfile? I will try to repro, maybe something else going on.

[2019-03-16 18:33] trask commented on #544
(new issue #554 was opened for above error)

[2019-03-16 18:34] trask commented on #527
Closing for now, tagged with wishlist label (lower priority enhancements that have been closed to keep the open backlog manageable).

[2019-03-16 18:34] #527 closed

[2019-03-16 18:58] trask commented on #548
See my attempt to repro: https://github.com/trask/issue-548

[code]

uses logstash to log to console:

[code]

(there is no central collector running, just wanted to make it as close to your example as possible, in case it was related to https/alpine/central collector)

[2019-03-16 20:32] robinroos commented on #548
Here is the entire Docker file:

[code]
Location `build/resources/main/glowroot-0.13.2-20190316` is structured as shown above.

[2019-03-16 20:59] robinroos commented on #548
I think I will remove the `glowroot.logging.xml` and re-deploy.  My aim is to make sure that the logged version of glowroot is appropriate.  I will only be able to do so tomorrow morning (UK time).

[2019-03-16 23:50] robinroos commented on #548
I managed to get a deploy done now.  With the glowroot.logging.xml file renamed, I see the following logged (as plain text, not as JSON naturally):

`2019-03-16 23:38:54.498 INFO  org.glowroot - Glowroot version: 0.13.2-SNAPSHOT, commit 3e22056b67, built 2019-03-16 01:58:09 +0000`

So the version of Glowroot running as the agent is correct, but it really doesn't like that Encoder class name.

[2019-03-16 23:53] trask commented on #548
Can you try out https://github.com/trask/issue-548, and see what might be different from what you are doing?

[code]

[2019-03-17 00:43] #552 closed

[2019-03-17 00:43] #554 closed

[2019-03-17 00:44] trask commented on #552
Hi @AbleSteven, I just tried importing Glowroot into Intellij (I normally use Eclipse), and I noticed that Intellij doesn't apply maven profiles that do not have an `<id>` tag, and so the central collector module was not being imported. I fixed this (added `<id>` tag to maven profiles where missing). Try updating to master and re-importing again.

[2019-03-17 01:28] trask commented on #554
Hi @jhuertaa, I think this should be fixed now in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zip](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.glowroot&a=glowroot-agent&c=dist&e=zip&v=0.13.2-SNAPSHOT).

[2019-03-17 08:46] robinroos commented on #548
I found the problem, although I don't get have the solution.

It appears that the `glowroot-logging-logstash.jar` never actually made it into out Git repo.

Master contains only the following inside `glowroot-0.13.2.20190316/lib` (see image).

<img width="667" alt="image" src="https://user-images.githubusercontent.com/13133023/54487699-f5edbe80-4890-11e9-8f44-4f9fbf022a66.png">

[2019-03-17 08:48] robinroos commented on #548
I added the third entry below to .gitignore:

[code]

Should be able to get this working now....

[2019-03-17 08:49] AbleSteven commented on #552
Thanks! I appreciate your help!

[2019-03-17 10:02] robinroos commented on #548
@trask, sorry to appear pushy, but could you formally publish 0.13.2 to MavenCentral and to DockerHub today?

[2019-03-17 11:26] robinroos commented on #548
To confirm, this is working for me since I fixed .gitignore and effected the addition of glowroot-logging-logstash.jar to our project's Git repo.

`{"@timestamp":"2019-03-17T11:20:51.637+00:00","@version":"1","message":"Glowroot version: 0.13.2-SNAPSHOT, commit 3e22056b67, built 2019-03-16 01:58:09 +0000","logger_name":"org.glowroot","thread_name":"main","level":"INFO","level_value":20000}`

We wo

[2019-03-17 18:12] trask commented on #550
Hi @maddaliravi, yes it should work with weblogic server. Let me know if you have any issue.

[2019-03-17 22:35] trask commented on #548
👍

Sorry, not able to get a release out today, hopefully mid-week. Thanks.

[2019-03-17 22:37] robinroos commented on #548
Mid-week would be fine.  Much obliged.

[2019-03-18 14:04] AbleSteven commented on #553
Hi @trask, forget the Class mentioned above, please. There is another Class cannot be found, that is `org.glowroot.central.repo.proto.Stored;`. And I have looked up the `org.glowroot.central.repo.proto` from all over the `central` module, and I get nothing. I followed the guide from the above url you gived to me . And I check the log file. There aren't error logs, but build logs. Because the error

[2019-03-18 15:25] trask commented on #553
Hi @AbleSteven, when you created the project in Intellij, did you import it as a Maven project?

![image](https://user-images.githubusercontent.com/218610/54541503-4d566200-4957-11e9-91fe-8555bd913b3d.png)

[2019-03-18 15:28] #546 closed

[2019-03-18 15:53] trask commented on #546
Hi @justme02, I found an issue where Glowroot was not ending (and releasing) async transactions when the client disconnected (as opposed to server explicitly ending the request). I suspect this is what was happening in your case since you are sending back a (never ending) stream from the server. I think this should be fixed now in the latest snapshot release [glowroot-agent-0.13.2-SNAPSHOT-dist.zi

[2019-03-18 17:17] trask commented on #500
Hi @vguna, `/backend/api/v1/authentication/login` looks like the transaction name assigned by the initial servlet capture, before it reaches the JAX-RS method (which then assigns a more specific transaction name based on the JAX-RS @Path annotations).

Maybe the `/backend/api/v1/authentication/login` transaction was from a POST that never reached the JAX-RS method (e.g. if the request did not spec

[2019-03-18 21:20] abhinav-nath opened #555 "Support for BEA jolt/Tuxedo ?"
Hi,

My Java API applications runs on Weblogic server and connects to BEA Jolt in order to communicate with back-end Tuxedo services (written in C).

After installing Glowroot in my Java application, I can see almost all stats except traces for Jolt calls.

Can someone please help me out here ? I really wish to see the details about Jolt service calls in the traces. Is there a way I could add a cu

[2019-03-18 21:56] jhuertaa commented on #554
now is OK.
Thanks a lot.